.warped {position: relative; display: block; width:999px; height:626px;}

.warped>span[class^=w]:nth-of-type(n+0){display:block; position:absolute;
-moz-transform-origin:50% 100%; -webkit-transform-origin:50% 100%; -o-transform-origin:50%
100%; -ms-transform-origin:50% 100%; transform-origin:50% 100%; }

.warped .wC0 {-moz-transform: rotate(-7.34rad);-webkit-transform: rotate(-7.34rad);-o-transform:
rotate(-7.34rad);-ms-transform: rotate(-7.34rad); transform: rotate(-7.34rad);
width: 10px; height: 11px; left: 558.28px; top: 428.48px;}

.warped .wC1 {-moz-transform: rotate(-7.31rad);-webkit-transform: rotate(-7.31rad);-o-transform:
rotate(-7.31rad);-ms-transform: rotate(-7.31rad); transform: rotate(-7.31rad);
width: 10px; height: 11px; left: 565.87px; top: 415.63px;}

.warped .wC2 {-moz-transform: rotate(-7.28rad);-webkit-transform: rotate(-7.28rad);-o-transform:
rotate(-7.28rad);-ms-transform: rotate(-7.28rad); transform: rotate(-7.28rad);
width: 10px; height: 11px; left: 573.86px; top: 403px;}

.warped .wC3 {-moz-transform: rotate(-7.25rad);-webkit-transform: rotate(-7.25rad);-o-transform:
rotate(-7.25rad);-ms-transform: rotate(-7.25rad); transform: rotate(-7.25rad);
width: 10px; height: 11px; left: 582.38px; top: 390.38px;}

.warped .wC4 {-moz-transform: rotate(-7.22rad);-webkit-transform: rotate(-7.22rad);-o-transform:
rotate(-7.22rad);-ms-transform: rotate(-7.22rad); transform: rotate(-7.22rad);
width: 10px; height: 11px; left: 590.8px; top: 378.64px;}

.warped .wC5 {-moz-transform: rotate(-7.19rad);-webkit-transform: rotate(-7.19rad);-o-transform:
rotate(-7.19rad);-ms-transform: rotate(-7.19rad); transform: rotate(-7.19rad);
width: 10px; height: 11px; left: 599.86px; top: 366.74px;}

.warped .wC6 {-moz-transform: rotate(-7.16rad);-webkit-transform: rotate(-7.16rad);-o-transform:
rotate(-7.16rad);-ms-transform: rotate(-7.16rad); transform: rotate(-7.16rad);
width: 10px; height: 11px; left: 609.53px; top: 354.79px;}

.warped .wC7 {-moz-transform: rotate(-7.13rad);-webkit-transform: rotate(-7.13rad);-o-transform:
rotate(-7.13rad);-ms-transform: rotate(-7.13rad); transform: rotate(-7.13rad);
width: 10px; height: 11px; left: 619.22px; top: 343.56px;}

.warped .wC8 {-moz-transform: rotate(-7.1rad);-webkit-transform: rotate(-7.1rad);-o-transform:
rotate(-7.1rad);-ms-transform: rotate(-7.1rad); transform: rotate(-7.1rad);
width: 10px; height: 11px; left: 629.4px; top: 332.52px;}

.warped .wC9 {-moz-transform: rotate(-7.06rad);-webkit-transform: rotate(-7.06rad);-o-transform:
rotate(-7.06rad);-ms-transform: rotate(-7.06rad); transform: rotate(-7.06rad);
width: 10px; height: 11px; left: 640.04px; top: 321.79px;}

.warped .wC10 {-moz-transform: rotate(-7.02rad);-webkit-transform: rotate(-7.02rad);-o-transform:
rotate(-7.02rad);-ms-transform: rotate(-7.02rad); transform: rotate(-7.02rad);
width: 10px; height: 11px; left: 651.12px; top: 311.48px;}

.warped .wC11 {-moz-transform: rotate(-6.97rad);-webkit-transform: rotate(-6.97rad);-o-transform:
rotate(-6.97rad);-ms-transform: rotate(-6.97rad); transform: rotate(-6.97rad);
width: 10px; height: 11px; left: 662.6px; top: 301.7px;}

.warped .wC12 {-moz-transform: rotate(-6.92rad);-webkit-transform: rotate(-6.92rad);-o-transform:
rotate(-6.92rad);-ms-transform: rotate(-6.92rad); transform: rotate(-6.92rad);
width: 10px; height: 11px; left: 674.47px; top: 292.56px;}

.warped .wC13 {-moz-transform: rotate(-6.86rad);-webkit-transform: rotate(-6.86rad);-o-transform:
rotate(-6.86rad);-ms-transform: rotate(-6.86rad); transform: rotate(-6.86rad);
width: 10px; height: 11px; left: 686.68px; top: 284.18px;}

.warped .wC14 {-moz-transform: rotate(-6.8rad);-webkit-transform: rotate(-6.8rad);-o-transform:
rotate(-6.8rad);-ms-transform: rotate(-6.8rad); transform: rotate(-6.8rad);
width: 10px; height: 11px; left: 699.22px; top: 276.66px;}

.warped .wC15 {-moz-transform: rotate(-6.72rad);-webkit-transform: rotate(-6.72rad);-o-transform:
rotate(-6.72rad);-ms-transform: rotate(-6.72rad); transform: rotate(-6.72rad);
width: 10px; height: 11px; left: 712.79px; top: 269.78px;}

.warped .wC16 {-moz-transform: rotate(-6.63rad);-webkit-transform: rotate(-6.63rad);-o-transform:
rotate(-6.63rad);-ms-transform: rotate(-6.63rad); transform: rotate(-6.63rad);
width: 10px; height: 11px; left: 726.65px; top: 264.13px;}

.warped .wC17 {-moz-transform: rotate(-6.53rad);-webkit-transform: rotate(-6.53rad);-o-transform:
rotate(-6.53rad);-ms-transform: rotate(-6.53rad); transform: rotate(-6.53rad);
width: 10px; height: 11px; left: 740.77px; top: 259.82px;}

.warped .wC18 {-moz-transform: rotate(-6.42rad);-webkit-transform: rotate(-6.42rad);-o-transform:
rotate(-6.42rad);-ms-transform: rotate(-6.42rad); transform: rotate(-6.42rad);
width: 10px; height: 11px; left: 755.9px; top: 256.9px;}

.warped .wC19 {-moz-transform: rotate(-6.31rad);-webkit-transform: rotate(-6.31rad);-o-transform:
rotate(-6.31rad);-ms-transform: rotate(-6.31rad); transform: rotate(-6.31rad);
width: 10px; height: 11px; left: 770.47px; top: 255.78px;}

.warped .wC20 {-moz-transform: rotate(-6.18rad);-webkit-transform: rotate(-6.18rad);-o-transform:
rotate(-6.18rad);-ms-transform: rotate(-6.18rad); transform: rotate(-6.18rad);
width: 10px; height: 11px; left: 786px; top: 256.5px;}

.warped .wC21 {-moz-transform: rotate(-6.05rad);-webkit-transform: rotate(-6.05rad);-o-transform:
rotate(-6.05rad);-ms-transform: rotate(-6.05rad); transform: rotate(-6.05rad);
width: 10px; height: 11px; left: 800.88px; top: 259.12px;}

.warped .wC22 {-moz-transform: rotate(-5.93rad);-webkit-transform: rotate(-5.93rad);-o-transform:
rotate(-5.93rad);-ms-transform: rotate(-5.93rad); transform: rotate(-5.93rad);
width: 10px; height: 11px; left: 815.08px; top: 263.46px;}

.warped .wC23 {-moz-transform: rotate(-5.82rad);-webkit-transform: rotate(-5.82rad);-o-transform:
rotate(-5.82rad);-ms-transform: rotate(-5.82rad); transform: rotate(-5.82rad);
width: 10px; height: 11px; left: 828.55px; top: 269.34px;}

.warped .wC24 {-moz-transform: rotate(-5.72rad);-webkit-transform: rotate(-5.72rad);-o-transform:
rotate(-5.72rad);-ms-transform: rotate(-5.72rad); transform: rotate(-5.72rad);
width: 10px; height: 11px; left: 842.05px; top: 277.02px;}

.warped .wC25 {-moz-transform: rotate(-5.63rad);-webkit-transform: rotate(-5.63rad);-o-transform:
rotate(-5.63rad);-ms-transform: rotate(-5.63rad); transform: rotate(-5.63rad);
width: 10px; height: 11px; left: 853.98px; top: 285.38px;}

.warped .wC26 {-moz-transform: rotate(-5.56rad);-webkit-transform: rotate(-5.56rad);-o-transform:
rotate(-5.56rad);-ms-transform: rotate(-5.56rad); transform: rotate(-5.56rad);
width: 10px; height: 11px; left: 865.89px; top: 295.29px;}

.warped .wC27 {-moz-transform: rotate(-5.48rad);-webkit-transform: rotate(-5.48rad);-o-transform:
rotate(-5.48rad);-ms-transform: rotate(-5.48rad); transform: rotate(-5.48rad);
width: 10px; height: 11px; left: 877.65px; top: 306.67px;}

.warped .wC28 {-moz-transform: rotate(-5.32rad);-webkit-transform: rotate(-5.32rad);-o-transform:
rotate(-5.32rad);-ms-transform: rotate(-5.32rad); transform: rotate(-5.32rad);
width: 10px; height: 11px; left: 887.26px; top: 318.47px;}

.warped .wC29 {-moz-transform: rotate(-5.17rad);-webkit-transform: rotate(-5.17rad);-o-transform:
rotate(-5.17rad);-ms-transform: rotate(-5.17rad); transform: rotate(-5.17rad);
width: 10px; height: 11px; left: 894.78px; top: 331.29px;}

.warped .wC30 {-moz-transform: rotate(-5.02rad);-webkit-transform: rotate(-5.02rad);-o-transform:
rotate(-5.02rad);-ms-transform: rotate(-5.02rad); transform: rotate(-5.02rad);
width: 10px; height: 11px; left: 900.34px; top: 345.32px;}

.warped .wC31 {-moz-transform: rotate(-4.87rad);-webkit-transform: rotate(-4.87rad);-o-transform:
rotate(-4.87rad);-ms-transform: rotate(-4.87rad); transform: rotate(-4.87rad);
width: 10px; height: 11px; left: 903.66px; top: 359.89px;}

.warped .wC32 {-moz-transform: rotate(-11rad);-webkit-transform: rotate(-11rad);-o-transform:
rotate(-11rad);-ms-transform: rotate(-11rad); transform: rotate(-11rad);
width: 10px; height: 11px; left: 904.74px; top: 374.74px;}

.warped .wC33 {-moz-transform: rotate(-10.84rad);-webkit-transform: rotate(-10.84rad);-o-transform:
rotate(-10.84rad);-ms-transform: rotate(-10.84rad); transform: rotate(-10.84rad);
width: 10px; height: 11px; left: 903.51px; top: 390.02px;}

.warped .wC34 {-moz-transform: rotate(-10.69rad);-webkit-transform: rotate(-10.69rad);-o-transform:
rotate(-10.69rad);-ms-transform: rotate(-10.69rad); transform: rotate(-10.69rad);
width: 10px; height: 11px; left: 900.04px; top: 404.57px;}

.warped .wC35 {-moz-transform: rotate(-10.54rad);-webkit-transform: rotate(-10.54rad);-o-transform:
rotate(-10.54rad);-ms-transform: rotate(-10.54rad); transform: rotate(-10.54rad);
width: 10px; height: 11px; left: 894.51px; top: 418.16px;}

.warped .wC36 {-moz-transform: rotate(-10.39rad);-webkit-transform: rotate(-10.39rad);-o-transform:
rotate(-10.39rad);-ms-transform: rotate(-10.39rad); transform: rotate(-10.39rad);
width: 10px; height: 11px; left: 886.86px; top: 430.96px;}

.warped .wC37 {-moz-transform: rotate(-10.23rad);-webkit-transform: rotate(-10.23rad);-o-transform:
rotate(-10.23rad);-ms-transform: rotate(-10.23rad); transform: rotate(-10.23rad);
width: 10px; height: 11px; left: 877.07px; top: 442.73px;}

.warped .wC38 {-moz-transform: rotate(-10.08rad);-webkit-transform: rotate(-10.08rad);-o-transform:
rotate(-10.08rad);-ms-transform: rotate(-10.08rad); transform: rotate(-10.08rad);
width: 10px; height: 11px; left: 865.94px; top: 452.61px;}

.warped .wC39 {-moz-transform: rotate(-9.94rad);-webkit-transform: rotate(-9.94rad);-o-transform:
rotate(-9.94rad);-ms-transform: rotate(-9.94rad); transform: rotate(-9.94rad);
width: 10px; height: 11px; left: 853.36px; top: 460.89px;}

.warped .wC40 {-moz-transform: rotate(-9.82rad);-webkit-transform: rotate(-9.82rad);-o-transform:
rotate(-9.82rad);-ms-transform: rotate(-9.82rad); transform: rotate(-9.82rad);
width: 10px; height: 11px; left: 840.03px; top: 467.32px;}

.warped .wC41 {-moz-transform: rotate(-9.7rad);-webkit-transform: rotate(-9.7rad);-o-transform:
rotate(-9.7rad);-ms-transform: rotate(-9.7rad); transform: rotate(-9.7rad);
width: 10px; height: 11px; left: 825.71px; top: 472.17px;}

.warped .wC42 {-moz-transform: rotate(-9.6rad);-webkit-transform: rotate(-9.6rad);-o-transform:
rotate(-9.6rad);-ms-transform: rotate(-9.6rad); transform: rotate(-9.6rad);
width: 10px; height: 11px; left: 811.17px; top: 475.36px;}

.warped .wC43 {-moz-transform: rotate(-9.48rad);-webkit-transform: rotate(-9.48rad);-o-transform:
rotate(-9.48rad);-ms-transform: rotate(-9.48rad); transform: rotate(-9.48rad);
width: 10px; height: 11px; left: 794.93px; top: 477.2px;}

.warped .wC44 {-moz-transform: rotate(-9.3rad);-webkit-transform: rotate(-9.3rad);-o-transform:
rotate(-9.3rad);-ms-transform: rotate(-9.3rad); transform: rotate(-9.3rad);
width: 10px; height: 11px; left: 779.85px; top: 476.65px;}

.warped .wC45 {-moz-transform: rotate(-9.12rad);-webkit-transform: rotate(-9.12rad);-o-transform:
rotate(-9.12rad);-ms-transform: rotate(-9.12rad); transform: rotate(-9.12rad);
width: 10px; height: 11px; left: 765.3px; top: 473.45px;}

.warped .wC46 {-moz-transform: rotate(-8.93rad);-webkit-transform: rotate(-8.93rad);-o-transform:
rotate(-8.93rad);-ms-transform: rotate(-8.93rad); transform: rotate(-8.93rad);
width: 10px; height: 11px; left: 751.65px; top: 467.59px;}

.warped .wC47 {-moz-transform: rotate(-8.73rad);-webkit-transform: rotate(-8.73rad);-o-transform:
rotate(-8.73rad);-ms-transform: rotate(-8.73rad); transform: rotate(-8.73rad);
width: 10px; height: 11px; left: 739.35px; top: 459.17px;}

.warped .wC48 {-moz-transform: rotate(-8.53rad);-webkit-transform: rotate(-8.53rad);-o-transform:
rotate(-8.53rad);-ms-transform: rotate(-8.53rad); transform: rotate(-8.53rad);
width: 10px; height: 11px; left: 728.9px; top: 448.38px;}

.warped .wC49 {-moz-transform: rotate(-8.31rad);-webkit-transform: rotate(-8.31rad);-o-transform:
rotate(-8.31rad);-ms-transform: rotate(-8.31rad); transform: rotate(-8.31rad);
width: 10px; height: 11px; left: 720.87px; top: 435.52px;}

.warped .wC50 {-moz-transform: rotate(-8.07rad);-webkit-transform: rotate(-8.07rad);-o-transform:
rotate(-8.07rad);-ms-transform: rotate(-8.07rad); transform: rotate(-8.07rad);
width: 10px; height: 11px; left: 716.05px; top: 421.57px;}

.warped .wC51 {-moz-transform: rotate(-7.81rad);-webkit-transform: rotate(-7.81rad);-o-transform:
rotate(-7.81rad);-ms-transform: rotate(-7.81rad); transform: rotate(-7.81rad);
width: 10px; height: 11px; left: 714.76px; top: 406.55px;}

.warped .wC52 {-moz-transform: rotate(-7.53rad);-webkit-transform: rotate(-7.53rad);-o-transform:
rotate(-7.53rad);-ms-transform: rotate(-7.53rad); transform: rotate(-7.53rad);
width: 10px; height: 11px; left: 717.49px; top: 391.92px;}

.warped .wC53 {-moz-transform: rotate(-7.26rad);-webkit-transform: rotate(-7.26rad);-o-transform:
rotate(-7.26rad);-ms-transform: rotate(-7.26rad); transform: rotate(-7.26rad);
width: 10px; height: 11px; left: 724.16px; top: 378.54px;}

.warped .wC54 {-moz-transform: rotate(-7.02rad);-webkit-transform: rotate(-7.02rad);-o-transform:
rotate(-7.02rad);-ms-transform: rotate(-7.02rad); transform: rotate(-7.02rad);
width: 10px; height: 11px; left: 734.57px; top: 366.65px;}

.warped .wC55 {-moz-transform: rotate(-6.78rad);-webkit-transform: rotate(-6.78rad);-o-transform:
rotate(-6.78rad);-ms-transform: rotate(-6.78rad); transform: rotate(-6.78rad);
width: 10px; height: 11px; left: 746.83px; top: 358.04px;}

.warped .wC56 {-moz-transform: rotate(-6.54rad);-webkit-transform: rotate(-6.54rad);-o-transform:
rotate(-6.54rad);-ms-transform: rotate(-6.54rad); transform: rotate(-6.54rad);
width: 10px; height: 11px; left: 760.74px; top: 352.69px;}

.warped .wC57 {-moz-transform: rotate(-6.32rad);-webkit-transform: rotate(-6.32rad);-o-transform:
rotate(-6.32rad);-ms-transform: rotate(-6.32rad); transform: rotate(-6.32rad);
width: 10px; height: 11px; left: 775.41px; top: 350.67px;}

.warped .wC58 {-moz-transform: rotate(-6.12rad);-webkit-transform: rotate(-6.12rad);-o-transform:
rotate(-6.12rad);-ms-transform: rotate(-6.12rad); transform: rotate(-6.12rad);
width: 10px; height: 11px; left: 790.53px; top: 351.74px;}

.warped .wC59 {-moz-transform: rotate(-5.93rad);-webkit-transform: rotate(-5.93rad);-o-transform:
rotate(-5.93rad);-ms-transform: rotate(-5.93rad); transform: rotate(-5.93rad);
width: 10px; height: 11px; left: 804.9px; top: 355.61px;}

.warped .wC60 {-moz-transform: rotate(-5.72rad);-webkit-transform: rotate(-5.72rad);-o-transform:
rotate(-5.72rad);-ms-transform: rotate(-5.72rad); transform: rotate(-5.72rad);
width: 10px; height: 11px; left: 818.36px; top: 362.27px;}

.warped .wC61 {-moz-transform: rotate(-5.39rad);-webkit-transform: rotate(-5.39rad);-o-transform:
rotate(-5.39rad);-ms-transform: rotate(-5.39rad); transform: rotate(-5.39rad);
width: 10px; height: 11px; left: 829.53px; top: 371.96px;}

.warped .wC62 {-moz-transform: rotate(-10.88rad);-webkit-transform: rotate(-10.88rad);-o-transform:
rotate(-10.88rad);-ms-transform: rotate(-10.88rad); transform: rotate(-10.88rad);
width: 10px; height: 11px; left: 834.44px; top: 385.68px;}

.warped .wC63 {-moz-transform: rotate(-9.99rad);-webkit-transform: rotate(-9.99rad);-o-transform:
rotate(-9.99rad);-ms-transform: rotate(-9.99rad); transform: rotate(-9.99rad);
width: 10px; height: 11px; left: 825.8px; top: 397.43px;}