.warped {position: relative; display: block; width:999px; height:626px;}

.warped>span[class^=w]:nth-of-type(n+0){display:block; position:absolute;
-moz-transform-origin:50% 100%; -webkit-transform-origin:50% 100%; -o-transform-origin:50%
100%; -ms-transform-origin:50% 100%; transform-origin:50% 100%; }

.warped .wB0 {-moz-transform: rotate(-9.48rad);-webkit-transform: rotate(-9.48rad);-o-transform:
rotate(-9.48rad);-ms-transform: rotate(-9.48rad); transform: rotate(-9.48rad);
width: 10px; height: 11px; left: 376.24px; top: 109.08px;}

.warped .wB1 {-moz-transform: rotate(-9.51rad);-webkit-transform: rotate(-9.51rad);-o-transform:
rotate(-9.51rad);-ms-transform: rotate(-9.51rad); transform: rotate(-9.51rad);
width: 10px; height: 11px; left: 362.37px; top: 109.97px;}

.warped .wB2 {-moz-transform: rotate(-9.54rad);-webkit-transform: rotate(-9.54rad);-o-transform:
rotate(-9.54rad);-ms-transform: rotate(-9.54rad); transform: rotate(-9.54rad);
width: 10px; height: 11px; left: 347.14px; top: 111.38px;}

.warped .wB3 {-moz-transform: rotate(-9.57rad);-webkit-transform: rotate(-9.57rad);-o-transform:
rotate(-9.57rad);-ms-transform: rotate(-9.57rad); transform: rotate(-9.57rad);
width: 10px; height: 11px; left: 332.3px; top: 113.22px;}

.warped .wB4 {-moz-transform: rotate(-9.6rad);-webkit-transform: rotate(-9.6rad);-o-transform:
rotate(-9.6rad);-ms-transform: rotate(-9.6rad); transform: rotate(-9.6rad);
width: 10px; height: 11px; left: 317.86px; top: 115.46px;}

.warped .wB5 {-moz-transform: rotate(-9.64rad);-webkit-transform: rotate(-9.64rad);-o-transform:
rotate(-9.64rad);-ms-transform: rotate(-9.64rad); transform: rotate(-9.64rad);
width: 10px; height: 11px; left: 302.29px; top: 118.43px;}

.warped .wB6 {-moz-transform: rotate(-9.67rad);-webkit-transform: rotate(-9.67rad);-o-transform:
rotate(-9.67rad);-ms-transform: rotate(-9.67rad); transform: rotate(-9.67rad);
width: 10px; height: 11px; left: 288.7px; top: 121.51px;}

.warped .wB7 {-moz-transform: rotate(-9.71rad);-webkit-transform: rotate(-9.71rad);-o-transform:
rotate(-9.71rad);-ms-transform: rotate(-9.71rad); transform: rotate(-9.71rad);
width: 10px; height: 11px; left: 274.06px; top: 125.38px;}

.warped .wB8 {-moz-transform: rotate(-9.75rad);-webkit-transform: rotate(-9.75rad);-o-transform:
rotate(-9.75rad);-ms-transform: rotate(-9.75rad); transform: rotate(-9.75rad);
width: 10px; height: 11px; left: 259.93px; top: 129.69px;}

.warped .wB9 {-moz-transform: rotate(-9.79rad);-webkit-transform: rotate(-9.79rad);-o-transform:
rotate(-9.79rad);-ms-transform: rotate(-9.79rad); transform: rotate(-9.79rad);
width: 10px; height: 11px; left: 244.96px; top: 134.95px;}

.warped .wB10 {-moz-transform: rotate(-9.83rad);-webkit-transform: rotate(-9.83rad);-o-transform:
rotate(-9.83rad);-ms-transform: rotate(-9.83rad); transform: rotate(-9.83rad);
width: 10px; height: 11px; left: 231.88px; top: 140.16px;}

.warped .wB11 {-moz-transform: rotate(-9.88rad);-webkit-transform: rotate(-9.88rad);-o-transform:
rotate(-9.88rad);-ms-transform: rotate(-9.88rad); transform: rotate(-9.88rad);
width: 10px; height: 11px; left: 218.07px; top: 146.37px;}

.warped .wB12 {-moz-transform: rotate(-9.92rad);-webkit-transform: rotate(-9.92rad);-o-transform:
rotate(-9.92rad);-ms-transform: rotate(-9.92rad); transform: rotate(-9.92rad);
width: 10px; height: 11px; left: 204.88px; top: 153.04px;}

.warped .wB13 {-moz-transform: rotate(-9.97rad);-webkit-transform: rotate(-9.97rad);-o-transform:
rotate(-9.97rad);-ms-transform: rotate(-9.97rad); transform: rotate(-9.97rad);
width: 10px; height: 11px; left: 191.19px; top: 160.84px;}

.warped .wB14 {-moz-transform: rotate(-10.03rad);-webkit-transform: rotate(-10.03rad);-o-transform:
rotate(-10.03rad);-ms-transform: rotate(-10.03rad); transform: rotate(-10.03rad);
width: 10px; height: 11px; left: 178.24px; top: 169.14px;}

.warped .wB15 {-moz-transform: rotate(-10.08rad);-webkit-transform: rotate(-10.08rad);-o-transform:
rotate(-10.08rad);-ms-transform: rotate(-10.08rad); transform: rotate(-10.08rad);
width: 10px; height: 11px; left: 167.03px; top: 177.18px;}

.warped .wB16 {-moz-transform: rotate(-10.14rad);-webkit-transform: rotate(-10.14rad);-o-transform:
rotate(-10.14rad);-ms-transform: rotate(-10.14rad); transform: rotate(-10.14rad);
width: 10px; height: 11px; left: 154.57px; top: 187.17px;}

.warped .wB17 {-moz-transform: rotate(-10.19rad);-webkit-transform: rotate(-10.19rad);-o-transform:
rotate(-10.19rad);-ms-transform: rotate(-10.19rad); transform: rotate(-10.19rad);
width: 10px; height: 11px; left: 143.86px; top: 196.85px;}

.warped .wB18 {-moz-transform: rotate(-10.25rad);-webkit-transform: rotate(-10.25rad);-o-transform:
rotate(-10.25rad);-ms-transform: rotate(-10.25rad); transform: rotate(-10.25rad);
width: 10px; height: 11px; left: 133.1px; top: 207.79px;}

.warped .wB19 {-moz-transform: rotate(-10.32rad);-webkit-transform: rotate(-10.32rad);-o-transform:
rotate(-10.32rad);-ms-transform: rotate(-10.32rad); transform: rotate(-10.32rad);
width: 10px; height: 11px; left: 123.23px; top: 219.17px;}

.warped .wB20 {-moz-transform: rotate(-10.38rad);-webkit-transform: rotate(-10.38rad);-o-transform:
rotate(-10.38rad);-ms-transform: rotate(-10.38rad); transform: rotate(-10.38rad);
width: 10px; height: 11px; left: 114.25px; top: 230.96px;}

.warped .wB21 {-moz-transform: rotate(-10.45rad);-webkit-transform: rotate(-10.45rad);-o-transform:
rotate(-10.45rad);-ms-transform: rotate(-10.45rad); transform: rotate(-10.45rad);
width: 10px; height: 11px; left: 106.17px; top: 243.12px;}

.warped .wB22 {-moz-transform: rotate(-10.52rad);-webkit-transform: rotate(-10.52rad);-o-transform:
rotate(-10.52rad);-ms-transform: rotate(-10.52rad); transform: rotate(-10.52rad);
width: 10px; height: 11px; left: 98.47px; top: 256.6px;}

.warped .wB23 {-moz-transform: rotate(-10.58rad);-webkit-transform: rotate(-10.58rad);-o-transform:
rotate(-10.58rad);-ms-transform: rotate(-10.58rad); transform: rotate(-10.58rad);
width: 10px; height: 11px; left: 92.27px; top: 269.45px;}

.warped .wB24 {-moz-transform: rotate(-10.66rad);-webkit-transform: rotate(-10.66rad);-o-transform:
rotate(-10.66rad);-ms-transform: rotate(-10.66rad); transform: rotate(-10.66rad);
width: 10px; height: 11px; left: 86.6px; top: 283.58px;}

.warped .wB25 {-moz-transform: rotate(-10.73rad);-webkit-transform: rotate(-10.73rad);-o-transform:
rotate(-10.73rad);-ms-transform: rotate(-10.73rad); transform: rotate(-10.73rad);
width: 10px; height: 11px; left: 82px; top: 297.99px;}

.warped .wB26 {-moz-transform: rotate(-10.8rad);-webkit-transform: rotate(-10.8rad);-o-transform:
rotate(-10.8rad);-ms-transform: rotate(-10.8rad); transform: rotate(-10.8rad);
width: 10px; height: 11px; left: 78.47px; top: 312.64px;}

.warped .wB27 {-moz-transform: rotate(-10.87rad);-webkit-transform: rotate(-10.87rad);-o-transform:
rotate(-10.87rad);-ms-transform: rotate(-10.87rad); transform: rotate(-10.87rad);
width: 10px; height: 11px; left: 76.01px; top: 327.48px;}

.warped .wB28 {-moz-transform: rotate(-10.95rad);-webkit-transform: rotate(-10.95rad);-o-transform:
rotate(-10.95rad);-ms-transform: rotate(-10.95rad); transform: rotate(-10.95rad);
width: 10px; height: 11px; left: 74.63px; top: 342.47px;}

.warped .wB29 {-moz-transform: rotate(-4.73rad);-webkit-transform: rotate(-4.73rad);-o-transform:
rotate(-4.73rad);-ms-transform: rotate(-4.73rad); transform: rotate(-4.73rad);
width: 10px; height: 11px; left: 74.34px; top: 357.57px;}

.warped .wB30 {-moz-transform: rotate(-4.81rad);-webkit-transform: rotate(-4.81rad);-o-transform:
rotate(-4.81rad);-ms-transform: rotate(-4.81rad); transform: rotate(-4.81rad);
width: 10px; height: 11px; left: 75.14px; top: 372.75px;}

.warped .wB31 {-moz-transform: rotate(-4.87rad);-webkit-transform: rotate(-4.87rad);-o-transform:
rotate(-4.87rad);-ms-transform: rotate(-4.87rad); transform: rotate(-4.87rad);
width: 10px; height: 11px; left: 76.86px; top: 386.86px;}

.warped .wB32 {-moz-transform: rotate(-4.94rad);-webkit-transform: rotate(-4.94rad);-o-transform:
rotate(-4.94rad);-ms-transform: rotate(-4.94rad); transform: rotate(-4.94rad);
width: 10px; height: 11px; left: 79.78px; top: 402.06px;}

.warped .wB33 {-moz-transform: rotate(-5.01rad);-webkit-transform: rotate(-5.01rad);-o-transform:
rotate(-5.01rad);-ms-transform: rotate(-5.01rad); transform: rotate(-5.01rad);
width: 10px; height: 11px; left: 83.48px; top: 416.12px;}

.warped .wB34 {-moz-transform: rotate(-5.08rad);-webkit-transform: rotate(-5.08rad);-o-transform:
rotate(-5.08rad);-ms-transform: rotate(-5.08rad); transform: rotate(-5.08rad);
width: 10px; height: 11px; left: 88.55px; top: 431.17px;}

.warped .wB35 {-moz-transform: rotate(-5.14rad);-webkit-transform: rotate(-5.14rad);-o-transform:
rotate(-5.14rad);-ms-transform: rotate(-5.14rad); transform: rotate(-5.14rad);
width: 10px; height: 11px; left: 94.25px; top: 445.04px;}

.warped .wB36 {-moz-transform: rotate(-5.2rad);-webkit-transform: rotate(-5.2rad);-o-transform:
rotate(-5.2rad);-ms-transform: rotate(-5.2rad); transform: rotate(-5.2rad);
width: 10px; height: 11px; left: 100.37px; top: 457.71px;}

.warped .wB37 {-moz-transform: rotate(-5.26rad);-webkit-transform: rotate(-5.26rad);-o-transform:
rotate(-5.26rad);-ms-transform: rotate(-5.26rad); transform: rotate(-5.26rad);
width: 10px; height: 11px; left: 107.94px; top: 471.26px;}

.warped .wB38 {-moz-transform: rotate(-5.31rad);-webkit-transform: rotate(-5.31rad);-o-transform:
rotate(-5.31rad);-ms-transform: rotate(-5.31rad); transform: rotate(-5.31rad);
width: 10px; height: 11px; left: 115.8px; top: 483.59px;}

.warped .wB39 {-moz-transform: rotate(-5.37rad);-webkit-transform: rotate(-5.37rad);-o-transform:
rotate(-5.37rad);-ms-transform: rotate(-5.37rad); transform: rotate(-5.37rad);
width: 10px; height: 11px; left: 124.5px; top: 495.71px;}

.warped .wB40 {-moz-transform: rotate(-5.42rad);-webkit-transform: rotate(-5.42rad);-o-transform:
rotate(-5.42rad);-ms-transform: rotate(-5.42rad); transform: rotate(-5.42rad);
width: 10px; height: 11px; left: 134.04px; top: 507.6px;}

.warped .wB41 {-moz-transform: rotate(-5.47rad);-webkit-transform: rotate(-5.47rad);-o-transform:
rotate(-5.47rad);-ms-transform: rotate(-5.47rad); transform: rotate(-5.47rad);
width: 10px; height: 11px; left: 144.42px; top: 519.23px;}

.warped .wB42 {-moz-transform: rotate(-5.55rad);-webkit-transform: rotate(-5.55rad);-o-transform:
rotate(-5.55rad);-ms-transform: rotate(-5.55rad); transform: rotate(-5.55rad);
width: 10px; height: 11px; left: 156.85px; top: 531.54px;}

.warped .wB43 {-moz-transform: rotate(-5.63rad);-webkit-transform: rotate(-5.63rad);-o-transform:
rotate(-5.63rad);-ms-transform: rotate(-5.63rad); transform: rotate(-5.63rad);
width: 10px; height: 11px; left: 167.94px; top: 540.8px;}

.warped .wB44 {-moz-transform: rotate(-5.71rad);-webkit-transform: rotate(-5.71rad);-o-transform:
rotate(-5.71rad);-ms-transform: rotate(-5.71rad); transform: rotate(-5.71rad);
width: 10px; height: 11px; left: 180.42px; top: 549.62px;}

.warped .wB45 {-moz-transform: rotate(-5.8rad);-webkit-transform: rotate(-5.8rad);-o-transform:
rotate(-5.8rad);-ms-transform: rotate(-5.8rad); transform: rotate(-5.8rad);
width: 10px; height: 11px; left: 193.57px; top: 557.37px;}

.warped .wB46 {-moz-transform: rotate(-5.87rad);-webkit-transform: rotate(-5.87rad);-o-transform:
rotate(-5.87rad);-ms-transform: rotate(-5.87rad); transform: rotate(-5.87rad);
width: 10px; height: 11px; left: 206.5px; top: 563.68px;}

.warped .wB47 {-moz-transform: rotate(-5.95rad);-webkit-transform: rotate(-5.95rad);-o-transform:
rotate(-5.95rad);-ms-transform: rotate(-5.95rad); transform: rotate(-5.95rad);
width: 10px; height: 11px; left: 220.78px; top: 569.32px;}

.warped .wB48 {-moz-transform: rotate(-6.03rad);-webkit-transform: rotate(-6.03rad);-o-transform:
rotate(-6.03rad);-ms-transform: rotate(-6.03rad); transform: rotate(-6.03rad);
width: 10px; height: 11px; left: 234.67px; top: 573.61px;}

.warped .wB49 {-moz-transform: rotate(-6.1rad);-webkit-transform: rotate(-6.1rad);-o-transform:
rotate(-6.1rad);-ms-transform: rotate(-6.1rad); transform: rotate(-6.1rad);
width: 10px; height: 11px; left: 249.85px; top: 577.07px;}

.warped .wB50 {-moz-transform: rotate(-6.17rad);-webkit-transform: rotate(-6.17rad);-o-transform:
rotate(-6.17rad);-ms-transform: rotate(-6.17rad); transform: rotate(-6.17rad);
width: 10px; height: 11px; left: 264.49px; top: 579.29px;}

.warped .wB51 {-moz-transform: rotate(-6.24rad);-webkit-transform: rotate(-6.24rad);-o-transform:
rotate(-6.24rad);-ms-transform: rotate(-6.24rad); transform: rotate(-6.24rad);
width: 10px; height: 11px; left: 279.41px; top: 580.49px;}

.warped .wB52 {-moz-transform: rotate(-6.31rad);-webkit-transform: rotate(-6.31rad);-o-transform:
rotate(-6.31rad);-ms-transform: rotate(-6.31rad); transform: rotate(-6.31rad);
width: 10px; height: 11px; left: 294.56px; top: 580.65px;}

.warped .wB53 {-moz-transform: rotate(-6.38rad);-webkit-transform: rotate(-6.38rad);-o-transform:
rotate(-6.38rad);-ms-transform: rotate(-6.38rad); transform: rotate(-6.38rad);
width: 10px; height: 11px; left: 308.93px; top: 579.84px;}

.warped .wB54 {-moz-transform: rotate(-6.44rad);-webkit-transform: rotate(-6.44rad);-o-transform:
rotate(-6.44rad);-ms-transform: rotate(-6.44rad); transform: rotate(-6.44rad);
width: 10px; height: 11px; left: 324.39px; top: 577.95px;}

.warped .wB55 {-moz-transform: rotate(-6.51rad);-webkit-transform: rotate(-6.51rad);-o-transform:
rotate(-6.51rad);-ms-transform: rotate(-6.51rad); transform: rotate(-6.51rad);
width: 10px; height: 11px; left: 338.97px; top: 575.21px;}

.warped .wB56 {-moz-transform: rotate(-6.57rad);-webkit-transform: rotate(-6.57rad);-o-transform:
rotate(-6.57rad);-ms-transform: rotate(-6.57rad); transform: rotate(-6.57rad);
width: 10px; height: 11px; left: 353.58px; top: 571.5px;}

.warped .wB57 {-moz-transform: rotate(-6.63rad);-webkit-transform: rotate(-6.63rad);-o-transform:
rotate(-6.63rad);-ms-transform: rotate(-6.63rad); transform: rotate(-6.63rad);
width: 10px; height: 11px; left: 368.19px; top: 566.83px;}

.warped .wB58 {-moz-transform: rotate(-6.68rad);-webkit-transform: rotate(-6.68rad);-o-transform:
rotate(-6.68rad);-ms-transform: rotate(-6.68rad); transform: rotate(-6.68rad);
width: 10px; height: 11px; left: 381.78px; top: 561.59px;}

.warped .wB59 {-moz-transform: rotate(-6.74rad);-webkit-transform: rotate(-6.74rad);-o-transform:
rotate(-6.74rad);-ms-transform: rotate(-6.74rad); transform: rotate(-6.74rad);
width: 10px; height: 11px; left: 395.29px; top: 555.49px;}

.warped .wB60 {-moz-transform: rotate(-6.79rad);-webkit-transform: rotate(-6.79rad);-o-transform:
rotate(-6.79rad);-ms-transform: rotate(-6.79rad); transform: rotate(-6.79rad);
width: 10px; height: 11px; left: 408.7px; top: 548.53px;}

.warped .wB61 {-moz-transform: rotate(-6.85rad);-webkit-transform: rotate(-6.85rad);-o-transform:
rotate(-6.85rad);-ms-transform: rotate(-6.85rad); transform: rotate(-6.85rad);
width: 10px; height: 11px; left: 421.97px; top: 540.68px;}

.warped .wB62 {-moz-transform: rotate(-6.9rad);-webkit-transform: rotate(-6.9rad);-o-transform:
rotate(-6.9rad);-ms-transform: rotate(-6.9rad); transform: rotate(-6.9rad);
width: 10px; height: 11px; left: 434.13px; top: 532.6px;}

.warped .wB63 {-moz-transform: rotate(-6.95rad);-webkit-transform: rotate(-6.95rad);-o-transform:
rotate(-6.95rad);-ms-transform: rotate(-6.95rad); transform: rotate(-6.95rad);
width: 10px; height: 11px; left: 446.12px; top: 523.75px;}

.warped .wB64 {-moz-transform: rotate(-7rad);-webkit-transform: rotate(-7rad);-o-transform:
rotate(-7rad);-ms-transform: rotate(-7rad); transform: rotate(-7rad); width:
10px; height: 11px; left: 457.9px; top: 514.13px;}

.warped .wB65 {-moz-transform: rotate(-7.05rad);-webkit-transform: rotate(-7.05rad);-o-transform:
rotate(-7.05rad);-ms-transform: rotate(-7.05rad); transform: rotate(-7.05rad);
width: 10px; height: 11px; left: 469.46px; top: 503.72px;}

.warped .wB66 {-moz-transform: rotate(-7.09rad);-webkit-transform: rotate(-7.09rad);-o-transform:
rotate(-7.09rad);-ms-transform: rotate(-7.09rad); transform: rotate(-7.09rad);
width: 10px; height: 11px; left: 479.89px; top: 493.4px;}

.warped .wB67 {-moz-transform: rotate(-7.13rad);-webkit-transform: rotate(-7.13rad);-o-transform:
rotate(-7.13rad);-ms-transform: rotate(-7.13rad); transform: rotate(-7.13rad);
width: 10px; height: 11px; left: 490.08px; top: 482.41px;}

.warped .wB68 {-moz-transform: rotate(-7.18rad);-webkit-transform: rotate(-7.18rad);-o-transform:
rotate(-7.18rad);-ms-transform: rotate(-7.18rad); transform: rotate(-7.18rad);
width: 10px; height: 11px; left: 500.02px; top: 470.73px;}

.warped .wB69 {-moz-transform: rotate(-7.21rad);-webkit-transform: rotate(-7.21rad);-o-transform:
rotate(-7.21rad);-ms-transform: rotate(-7.21rad); transform: rotate(-7.21rad);
width: 10px; height: 11px; left: 508.87px; top: 459.42px;}

.warped .wB70 {-moz-transform: rotate(-7.25rad);-webkit-transform: rotate(-7.25rad);-o-transform:
rotate(-7.25rad);-ms-transform: rotate(-7.25rad); transform: rotate(-7.25rad);
width: 10px; height: 11px; left: 517.48px; top: 447.52px;}

.warped .wB71 {-moz-transform: rotate(-7.29rad);-webkit-transform: rotate(-7.29rad);-o-transform:
rotate(-7.29rad);-ms-transform: rotate(-7.29rad); transform: rotate(-7.29rad);
width: 10px; height: 11px; left: 525.81px; top: 435.04px;}

.warped .wB72 {-moz-transform: rotate(-7.33rad);-webkit-transform: rotate(-7.33rad);-o-transform:
rotate(-7.33rad);-ms-transform: rotate(-7.33rad); transform: rotate(-7.33rad);
width: 10px; height: 11px; left: 533.86px; top: 421.96px;}

.warped .wB73 {-moz-transform: rotate(-7.36rad);-webkit-transform: rotate(-7.36rad);-o-transform:
rotate(-7.36rad);-ms-transform: rotate(-7.36rad); transform: rotate(-7.36rad);
width: 10px; height: 11px; left: 541.6px; top: 408.28px;}

.warped .wB74 {-moz-transform: rotate(-7.39rad);-webkit-transform: rotate(-7.39rad);-o-transform:
rotate(-7.39rad);-ms-transform: rotate(-7.39rad); transform: rotate(-7.39rad);
width: 10px; height: 11px; left: 548.36px; top: 395.33px;}

.warped .wB75 {-moz-transform: rotate(-7.43rad);-webkit-transform: rotate(-7.43rad);-o-transform:
rotate(-7.43rad);-ms-transform: rotate(-7.43rad); transform: rotate(-7.43rad);
width: 10px; height: 11px; left: 554.85px; top: 381.87px;}

.warped .wB76 {-moz-transform: rotate(-7.46rad);-webkit-transform: rotate(-7.46rad);-o-transform:
rotate(-7.46rad);-ms-transform: rotate(-7.46rad); transform: rotate(-7.46rad);
width: 10px; height: 11px; left: 561.05px; top: 367.92px;}

.warped .wB77 {-moz-transform: rotate(-7.48rad);-webkit-transform: rotate(-7.48rad);-o-transform:
rotate(-7.48rad);-ms-transform: rotate(-7.48rad); transform: rotate(-7.48rad);
width: 10px; height: 11px; left: 566.38px; top: 354.92px;}
