 .warped {position: relative; display: block; width:999px; height:609px;}

 .warped>span[class^=w]:nth-of-type(n+0){display:block; position:absolute;
 -moz-transform-origin:50% 100%; -webkit-transform-origin:50% 100%; -o-transform-origin:50%
 100%; -ms-transform-origin:50% 100%; transform-origin:50% 100%; }

 .warped .wA0 {-moz-transform: rotate(-9.78rad);-webkit-transform: rotate(-9.78rad);-o-transform:
 rotate(-9.78rad);-ms-transform: rotate(-9.78rad); transform: rotate(-9.78rad);
 width: 10px; height: 11px; left: 214.43px; top: 26.2px;}

 .warped .wA1 {-moz-transform: rotate(-9.81rad);-webkit-transform: rotate(-9.81rad);-o-transform:
 rotate(-9.81rad);-ms-transform: rotate(-9.81rad); transform: rotate(-9.81rad);
 width: 10px; height: 11px; left: 200.71px; top: 31.45px;}

 .warped .wA2 {-moz-transform: rotate(-9.85rad);-webkit-transform: rotate(-9.85rad);-o-transform:
 rotate(-9.85rad);-ms-transform: rotate(-9.85rad); transform: rotate(-9.85rad);
 width: 10px; height: 11px; left: 186.68px; top: 37.43px;}

 .warped .wA3 {-moz-transform: rotate(-9.89rad);-webkit-transform: rotate(-9.89rad);-o-transform:
 rotate(-9.89rad);-ms-transform: rotate(-9.89rad); transform: rotate(-9.89rad);
 width: 10px; height: 11px; left: 173.44px; top: 43.69px;}

 .warped .wA4 {-moz-transform: rotate(-9.93rad);-webkit-transform: rotate(-9.93rad);-o-transform:
 rotate(-9.93rad);-ms-transform: rotate(-9.93rad); transform: rotate(-9.93rad);
 width: 10px; height: 11px; left: 160.07px; top: 50.69px;}

 .warped .wA5 {-moz-transform: rotate(-9.98rad);-webkit-transform: rotate(-9.98rad);-o-transform:
 rotate(-9.98rad);-ms-transform: rotate(-9.98rad); transform: rotate(-9.98rad);
 width: 10px; height: 11px; left: 147.15px; top: 58.2px;}

 .warped .wA6 {-moz-transform: rotate(-10.03rad);-webkit-transform: rotate(-10.03rad);-o-transform:
 rotate(-10.03rad);-ms-transform: rotate(-10.03rad); transform: rotate(-10.03rad);
 width: 10px; height: 11px; left: 134.35px; top: 66.45px;}

 .warped .wA7 {-moz-transform: rotate(-10.08rad);-webkit-transform: rotate(-10.08rad);-o-transform:
 rotate(-10.08rad);-ms-transform: rotate(-10.08rad); transform: rotate(-10.08rad);
 width: 10px; height: 11px; left: 122.52px; top: 74.91px;}

 .warped .wA8 {-moz-transform: rotate(-10.13rad);-webkit-transform: rotate(-10.13rad);-o-transform:
 rotate(-10.13rad);-ms-transform: rotate(-10.13rad); transform: rotate(-10.13rad);
 width: 10px; height: 11px; left: 110.67px; top: 84.34px;}

 .warped .wA9 {-moz-transform: rotate(-10.18rad);-webkit-transform: rotate(-10.18rad);-o-transform:
 rotate(-10.18rad);-ms-transform: rotate(-10.18rad); transform: rotate(-10.18rad);
 width: 10px; height: 11px; left: 99.31px; top: 94.44px;}

 .warped .wA10 {-moz-transform: rotate(-10.24rad);-webkit-transform: rotate(-10.24rad);-o-transform:
 rotate(-10.24rad);-ms-transform: rotate(-10.24rad); transform: rotate(-10.24rad);
 width: 10px; height: 11px; left: 88.84px; top: 104.86px;}

 .warped .wA11 {-moz-transform: rotate(-10.3rad);-webkit-transform: rotate(-10.3rad);-o-transform:
 rotate(-10.3rad);-ms-transform: rotate(-10.3rad); transform: rotate(-10.3rad);
 width: 10px; height: 11px; left: 78.84px; top: 116.06px;}

 .warped .wA12 {-moz-transform: rotate(-10.37rad);-webkit-transform: rotate(-10.37rad);-o-transform:
 rotate(-10.37rad);-ms-transform: rotate(-10.37rad); transform: rotate(-10.37rad);
 width: 10px; height: 11px; left: 69.51px; top: 127.91px;}

 .warped .wA13 {-moz-transform: rotate(-10.43rad);-webkit-transform: rotate(-10.43rad);-o-transform:
 rotate(-10.43rad);-ms-transform: rotate(-10.43rad); transform: rotate(-10.43rad);
 width: 10px; height: 11px; left: 61.06px; top: 140.24px;}

 .warped .wA14 {-moz-transform: rotate(-10.5rad);-webkit-transform: rotate(-10.5rad);-o-transform:
 rotate(-10.5rad);-ms-transform: rotate(-10.5rad); transform: rotate(-10.5rad);
 width: 10px; height: 11px; left: 53.52px; top: 153.02px;}

 .warped .wA15 {-moz-transform: rotate(-10.55rad);-webkit-transform: rotate(-10.55rad);-o-transform:
 rotate(-10.55rad);-ms-transform: rotate(-10.55rad); transform: rotate(-10.55rad);
 width: 10px; height: 11px; left: 46.39px; top: 166.9px;}

 .warped .wA16 {-moz-transform: rotate(-10.59rad);-webkit-transform: rotate(-10.59rad);-o-transform:
 rotate(-10.59rad);-ms-transform: rotate(-10.59rad); transform: rotate(-10.59rad);
 width: 10px; height: 11px; left: 39.92px; top: 180.9px;}

 .warped .wA17 {-moz-transform: rotate(-10.63rad);-webkit-transform: rotate(-10.63rad);-o-transform:
 rotate(-10.63rad);-ms-transform: rotate(-10.63rad); transform: rotate(-10.63rad);
 width: 10px; height: 11px; left: 34.19px; top: 194.82px;}

 .warped .wA18 {-moz-transform: rotate(-10.68rad);-webkit-transform: rotate(-10.68rad);-o-transform:
 rotate(-10.68rad);-ms-transform: rotate(-10.68rad); transform: rotate(-10.68rad);
 width: 10px; height: 11px; left: 29.21px; top: 208.63px;}

 .warped .wA19 {-moz-transform: rotate(-10.73rad);-webkit-transform: rotate(-10.73rad);-o-transform:
 rotate(-10.73rad);-ms-transform: rotate(-10.73rad); transform: rotate(-10.73rad);
 width: 10px; height: 11px; left: 24.62px; top: 223.46px;}

 .warped .wA20 {-moz-transform: rotate(-10.78rad);-webkit-transform: rotate(-10.78rad);-o-transform:
 rotate(-10.78rad);-ms-transform: rotate(-10.78rad); transform: rotate(-10.78rad);
 width: 10px; height: 11px; left: 20.86px; top: 238.15px;}

 .warped .wA21 {-moz-transform: rotate(-10.83rad);-webkit-transform: rotate(-10.83rad);-o-transform:
 rotate(-10.83rad);-ms-transform: rotate(-10.83rad); transform: rotate(-10.83rad);
 width: 10px; height: 11px; left: 17.91px; top: 252.68px;}

 .warped .wA22 {-moz-transform: rotate(-10.88rad);-webkit-transform: rotate(-10.88rad);-o-transform:
 rotate(-10.88rad);-ms-transform: rotate(-10.88rad); transform: rotate(-10.88rad);
 width: 10px; height: 11px; left: 15.75px; top: 267.04px;}

 .warped .wA23 {-moz-transform: rotate(-10.93rad);-webkit-transform: rotate(-10.93rad);-o-transform:
 rotate(-10.93rad);-ms-transform: rotate(-10.93rad); transform: rotate(-10.93rad);
 width: 10px; height: 11px; left: 14.3px; top: 282.29px;}

 .warped .wA24 {-moz-transform: rotate(-10.99rad);-webkit-transform: rotate(-10.99rad);-o-transform:
 rotate(-10.99rad);-ms-transform: rotate(-10.99rad); transform: rotate(-10.99rad);
 width: 10px; height: 11px; left: 13.71px; top: 297.31px;}

 .warped .wA25 {-moz-transform: rotate(-4.76rad);-webkit-transform: rotate(-4.76rad);-o-transform:
 rotate(-4.76rad);-ms-transform: rotate(-4.76rad); transform: rotate(-4.76rad);
 width: 10px; height: 11px; left: 13.99px; top: 312.08px;}

 .warped .wA26 {-moz-transform: rotate(-4.83rad);-webkit-transform: rotate(-4.83rad);-o-transform:
 rotate(-4.83rad);-ms-transform: rotate(-4.83rad); transform: rotate(-4.83rad);
 width: 10px; height: 11px; left: 15.2px; top: 327.6px;}

 .warped .wA27 {-moz-transform: rotate(-4.88rad);-webkit-transform: rotate(-4.88rad);-o-transform:
 rotate(-4.88rad);-ms-transform: rotate(-4.88rad); transform: rotate(-4.88rad);
 width: 10px; height: 11px; left: 17.16px; top: 341.79px;}

 .warped .wA28 {-moz-transform: rotate(-4.95rad);-webkit-transform: rotate(-4.95rad);-o-transform:
 rotate(-4.95rad);-ms-transform: rotate(-4.95rad); transform: rotate(-4.95rad);
 width: 10px; height: 11px; left: 20.14px; top: 356.65px;}

 .warped .wA29 {-moz-transform: rotate(-5.01rad);-webkit-transform: rotate(-5.01rad);-o-transform:
 rotate(-5.01rad);-ms-transform: rotate(-5.01rad); transform: rotate(-5.01rad);
 width: 10px; height: 11px; left: 23.99px; top: 371.15px;}

 .warped .wA30 {-moz-transform: rotate(-5.07rad);-webkit-transform: rotate(-5.07rad);-o-transform:
 rotate(-5.07rad);-ms-transform: rotate(-5.07rad); transform: rotate(-5.07rad);
 width: 10px; height: 11px; left: 28.68px; top: 385.25px;}

 .warped .wA31 {-moz-transform: rotate(-5.13rad);-webkit-transform: rotate(-5.13rad);-o-transform:
 rotate(-5.13rad);-ms-transform: rotate(-5.13rad); transform: rotate(-5.13rad);
 width: 10px; height: 11px; left: 34.18px; top: 398.93px;}

 .warped .wA32 {-moz-transform: rotate(-5.2rad);-webkit-transform: rotate(-5.2rad);-o-transform:
 rotate(-5.2rad);-ms-transform: rotate(-5.2rad); transform: rotate(-5.2rad);
 width: 10px; height: 11px; left: 40.92px; top: 413.05px;}

 .warped .wA33 {-moz-transform: rotate(-5.26rad);-webkit-transform: rotate(-5.26rad);-o-transform:
 rotate(-5.26rad);-ms-transform: rotate(-5.26rad); transform: rotate(-5.26rad);
 width: 10px; height: 11px; left: 48.03px; top: 425.81px;}

 .warped .wA34 {-moz-transform: rotate(-5.32rad);-webkit-transform: rotate(-5.32rad);-o-transform:
 rotate(-5.32rad);-ms-transform: rotate(-5.32rad); transform: rotate(-5.32rad);
 width: 10px; height: 11px; left: 56.41px; top: 438.89px;}

 .warped .wA35 {-moz-transform: rotate(-5.38rad);-webkit-transform: rotate(-5.38rad);-o-transform:
 rotate(-5.38rad);-ms-transform: rotate(-5.38rad); transform: rotate(-5.38rad);
 width: 10px; height: 11px; left: 64.99px; top: 450.63px;}

 .warped .wA36 {-moz-transform: rotate(-5.44rad);-webkit-transform: rotate(-5.44rad);-o-transform:
 rotate(-5.44rad);-ms-transform: rotate(-5.44rad); transform: rotate(-5.44rad);
 width: 10px; height: 11px; left: 74.88px; top: 462.58px;}

 .warped .wA37 {-moz-transform: rotate(-5.5rad);-webkit-transform: rotate(-5.5rad);-o-transform:
 rotate(-5.5rad);-ms-transform: rotate(-5.5rad); transform: rotate(-5.5rad);
 width: 10px; height: 11px; left: 84.82px; top: 473.22px;}

 .warped .wA38 {-moz-transform: rotate(-5.55rad);-webkit-transform: rotate(-5.55rad);-o-transform:
 rotate(-5.55rad);-ms-transform: rotate(-5.55rad); transform: rotate(-5.55rad);
 width: 10px; height: 11px; left: 95.38px; top: 483.29px;}

 .warped .wA39 {-moz-transform: rotate(-5.62rad);-webkit-transform: rotate(-5.62rad);-o-transform:
 rotate(-5.62rad);-ms-transform: rotate(-5.62rad); transform: rotate(-5.62rad);
 width: 10px; height: 11px; left: 107.29px; top: 493.38px;}

 .warped .wA40 {-moz-transform: rotate(-5.67rad);-webkit-transform: rotate(-5.67rad);-o-transform:
 rotate(-5.67rad);-ms-transform: rotate(-5.67rad); transform: rotate(-5.67rad);
 width: 10px; height: 11px; left: 119.02px; top: 502.2px;}

 .warped .wA41 {-moz-transform: rotate(-5.73rad);-webkit-transform: rotate(-5.73rad);-o-transform:
 rotate(-5.73rad);-ms-transform: rotate(-5.73rad); transform: rotate(-5.73rad);
 width: 10px; height: 11px; left: 131.29px; top: 510.4px;}

 .warped .wA42 {-moz-transform: rotate(-5.79rad);-webkit-transform: rotate(-5.79rad);-o-transform:
 rotate(-5.79rad);-ms-transform: rotate(-5.79rad); transform: rotate(-5.79rad);
 width: 10px; height: 11px; left: 144.93px; top: 518.41px;}

 .warped .wA43 {-moz-transform: rotate(-5.84rad);-webkit-transform: rotate(-5.84rad);-o-transform:
 rotate(-5.84rad);-ms-transform: rotate(-5.84rad); transform: rotate(-5.84rad);
 width: 10px; height: 11px; left: 158.21px; top: 525.23px;}

 .warped .wA44 {-moz-transform: rotate(-5.9rad);-webkit-transform: rotate(-5.9rad);-o-transform:
 rotate(-5.9rad);-ms-transform: rotate(-5.9rad); transform: rotate(-5.9rad);
 width: 10px; height: 11px; left: 171.92px; top: 531.34px;}

 .warped .wA45 {-moz-transform: rotate(-5.95rad);-webkit-transform: rotate(-5.95rad);-o-transform:
 rotate(-5.95rad);-ms-transform: rotate(-5.95rad); transform: rotate(-5.95rad);
 width: 10px; height: 11px; left: 185.1px; top: 536.4px;}

 .warped .wA46 {-moz-transform: rotate(-6rad);-webkit-transform: rotate(-6rad);-o-transform:
 rotate(-6rad);-ms-transform: rotate(-6rad); transform: rotate(-6rad); width:
 10px; height: 11px; left: 199.6px; top: 541.1px;}

 .warped .wA47 {-moz-transform: rotate(-6.06rad);-webkit-transform: rotate(-6.06rad);-o-transform:
 rotate(-6.06rad);-ms-transform: rotate(-6.06rad); transform: rotate(-6.06rad);
 width: 10px; height: 11px; left: 214.46px; top: 545.04px;}

 .warped .wA48 {-moz-transform: rotate(-6.11rad);-webkit-transform: rotate(-6.11rad);-o-transform:
 rotate(-6.11rad);-ms-transform: rotate(-6.11rad); transform: rotate(-6.11rad);
 width: 10px; height: 11px; left: 228.63px; top: 548.01px;}

 .warped .wA49 {-moz-transform: rotate(-6.21rad);-webkit-transform: rotate(-6.21rad);-o-transform:
 rotate(-6.21rad);-ms-transform: rotate(-6.21rad); transform: rotate(-6.21rad);
 width: 10px; height: 11px; left: 247.32px; top: 550.54px;}

 .warped .wA50 {-moz-transform: rotate(-6.25rad);-webkit-transform: rotate(-6.25rad);-o-transform:
 rotate(-6.25rad);-ms-transform: rotate(-6.25rad); transform: rotate(-6.25rad);
 width: 10px; height: 11px; left: 261.74px; top: 551.39px;}

 .warped .wA51 {-moz-transform: rotate(-6.29rad);-webkit-transform: rotate(-6.29rad);-o-transform:
 rotate(-6.29rad);-ms-transform: rotate(-6.29rad); transform: rotate(-6.29rad);
 width: 10px; height: 11px; left: 275.69px; top: 551.69px;}

 .warped .wA52 {-moz-transform: rotate(-6.33rad);-webkit-transform: rotate(-6.33rad);-o-transform:
 rotate(-6.33rad);-ms-transform: rotate(-6.33rad); transform: rotate(-6.33rad);
 width: 10px; height: 11px; left: 291.07px; top: 551.37px;}

 .warped .wA53 {-moz-transform: rotate(-6.38rad);-webkit-transform: rotate(-6.38rad);-o-transform:
 rotate(-6.38rad);-ms-transform: rotate(-6.38rad); transform: rotate(-6.38rad);
 width: 10px; height: 11px; left: 305.86px; top: 550.36px;}

 .warped .wA54 {-moz-transform: rotate(-6.44rad);-webkit-transform: rotate(-6.44rad);-o-transform:
 rotate(-6.44rad);-ms-transform: rotate(-6.44rad); transform: rotate(-6.44rad);
 width: 10px; height: 11px; left: 321.82px; top: 548.43px;}

 .warped .wA55 {-moz-transform: rotate(-6.49rad);-webkit-transform: rotate(-6.49rad);-o-transform:
 rotate(-6.49rad);-ms-transform: rotate(-6.49rad); transform: rotate(-6.49rad);
 width: 10px; height: 11px; left: 335.43px; top: 546.04px;}

 .warped .wA56 {-moz-transform: rotate(-6.55rad);-webkit-transform: rotate(-6.55rad);-o-transform:
 rotate(-6.55rad);-ms-transform: rotate(-6.55rad); transform: rotate(-6.55rad);
 width: 10px; height: 11px; left: 350.1px; top: 542.63px;}

 .warped .wA57 {-moz-transform: rotate(-6.61rad);-webkit-transform: rotate(-6.61rad);-o-transform:
 rotate(-6.61rad);-ms-transform: rotate(-6.61rad); transform: rotate(-6.61rad);
 width: 10px; height: 11px; left: 364.12px; top: 538.47px;}

 .warped .wA58 {-moz-transform: rotate(-6.67rad);-webkit-transform: rotate(-6.67rad);-o-transform:
 rotate(-6.67rad);-ms-transform: rotate(-6.67rad); transform: rotate(-6.67rad);
 width: 10px; height: 11px; left: 378.96px; top: 533.01px;}

 .warped .wA59 {-moz-transform: rotate(-6.74rad);-webkit-transform: rotate(-6.74rad);-o-transform:
 rotate(-6.74rad);-ms-transform: rotate(-6.74rad); transform: rotate(-6.74rad);
 width: 10px; height: 11px; left: 393.06px; top: 526.73px;}

 .warped .wA60 {-moz-transform: rotate(-6.81rad);-webkit-transform: rotate(-6.81rad);-o-transform:
 rotate(-6.81rad);-ms-transform: rotate(-6.81rad); transform: rotate(-6.81rad);
 width: 10px; height: 11px; left: 406.45px; top: 519.66px;}

 .warped .wA61 {-moz-transform: rotate(-6.87rad);-webkit-transform: rotate(-6.87rad);-o-transform:
 rotate(-6.87rad);-ms-transform: rotate(-6.87rad); transform: rotate(-6.87rad);
 width: 10px; height: 11px; left: 419.17px; top: 511.85px;}

 .warped .wA62 {-moz-transform: rotate(-6.93rad);-webkit-transform: rotate(-6.93rad);-o-transform:
 rotate(-6.93rad);-ms-transform: rotate(-6.93rad); transform: rotate(-6.93rad);
 width: 10px; height: 11px; left: 431.25px; top: 503.34px;}

 .warped .wA63 {-moz-transform: rotate(-6.99rad);-webkit-transform: rotate(-6.99rad);-o-transform:
 rotate(-6.99rad);-ms-transform: rotate(-6.99rad); transform: rotate(-6.99rad);
 width: 10px; height: 11px; left: 442.72px; top: 494.18px;}

 .warped .wA64 {-moz-transform: rotate(-7.05rad);-webkit-transform: rotate(-7.05rad);-o-transform:
 rotate(-7.05rad);-ms-transform: rotate(-7.05rad); transform: rotate(-7.05rad);
 width: 10px; height: 11px; left: 453.61px; top: 484.42px;}

 .warped .wA65 {-moz-transform: rotate(-7.1rad);-webkit-transform: rotate(-7.1rad);-o-transform:
 rotate(-7.1rad);-ms-transform: rotate(-7.1rad); transform: rotate(-7.1rad);
 width: 10px; height: 11px; left: 463.95px; top: 474.09px;}

 .warped .wA66 {-moz-transform: rotate(-7.15rad);-webkit-transform: rotate(-7.15rad);-o-transform:
 rotate(-7.15rad);-ms-transform: rotate(-7.15rad); transform: rotate(-7.15rad);
 width: 10px; height: 11px; left: 474.74px; top: 462.14px;}

 .warped .wA67 {-moz-transform: rotate(-7.19rad);-webkit-transform: rotate(-7.19rad);-o-transform:
 rotate(-7.19rad);-ms-transform: rotate(-7.19rad); transform: rotate(-7.19rad);
 width: 10px; height: 11px; left: 484.05px; top: 450.79px;}

 .warped .wA68 {-moz-transform: rotate(-7.23rad);-webkit-transform: rotate(-7.23rad);-o-transform:
 rotate(-7.23rad);-ms-transform: rotate(-7.23rad); transform: rotate(-7.23rad);
 width: 10px; height: 11px; left: 492.92px; top: 439.01px;}

 .warped .wA69 {-moz-transform: rotate(-7.27rad);-webkit-transform: rotate(-7.27rad);-o-transform:
 rotate(-7.27rad);-ms-transform: rotate(-7.27rad); transform: rotate(-7.27rad);
 width: 10px; height: 11px; left: 501.38px; top: 426.86px;}

 .warped .wA70 {-moz-transform: rotate(-7.3rad);-webkit-transform: rotate(-7.3rad);-o-transform:
 rotate(-7.3rad);-ms-transform: rotate(-7.3rad); transform: rotate(-7.3rad);
 width: 10px; height: 11px; left: 509.45px; top: 414.38px;}

 .warped .wA71 {-moz-transform: rotate(-7.33rad);-webkit-transform: rotate(-7.33rad);-o-transform:
 rotate(-7.33rad);-ms-transform: rotate(-7.33rad); transform: rotate(-7.33rad);
 width: 10px; height: 11px; left: 517.19px; top: 401.61px;}

 .warped .wA72 {-moz-transform: rotate(-7.35rad);-webkit-transform: rotate(-7.35rad);-o-transform:
 rotate(-7.35rad);-ms-transform: rotate(-7.35rad); transform: rotate(-7.35rad);
 width: 10px; height: 11px; left: 524.61px; top: 388.61px;}

 .warped .wA73 {-moz-transform: rotate(-7.37rad);-webkit-transform: rotate(-7.37rad);-o-transform:
 rotate(-7.37rad);-ms-transform: rotate(-7.37rad); transform: rotate(-7.37rad);
 width: 10px; height: 11px; left: 531.76px; top: 375.4px;}

 .warped .wA74 {-moz-transform: rotate(-7.39rad);-webkit-transform: rotate(-7.39rad);-o-transform:
 rotate(-7.39rad);-ms-transform: rotate(-7.39rad); transform: rotate(-7.39rad);
 width: 10px; height: 11px; left: 538.65px; top: 362.05px;}

 .warped .wA75 {-moz-transform: rotate(-7.4rad);-webkit-transform: rotate(-7.4rad);-o-transform:
 rotate(-7.4rad);-ms-transform: rotate(-7.4rad); transform: rotate(-7.4rad);
 width: 10px; height: 11px; left: 545.34px; top: 348.59px;}

 .warped .wA76 {-moz-transform: rotate(-7.42rad);-webkit-transform: rotate(-7.42rad);-o-transform:
 rotate(-7.42rad);-ms-transform: rotate(-7.42rad); transform: rotate(-7.42rad);
 width: 10px; height: 11px; left: 551.84px; top: 335.08px;}

 .warped .wA77 {-moz-transform: rotate(-7.42rad);-webkit-transform: rotate(-7.42rad);-o-transform:
 rotate(-7.42rad);-ms-transform: rotate(-7.42rad); transform: rotate(-7.42rad);
 width: 10px; height: 11px; left: 558.19px; top: 321.55px;}

 .warped .wA78 {-moz-transform: rotate(-7.43rad);-webkit-transform: rotate(-7.43rad);-o-transform:
 rotate(-7.43rad);-ms-transform: rotate(-7.43rad); transform: rotate(-7.43rad);
 width: 10px; height: 11px; left: 564.43px; top: 308.05px;}

 .warped .wA79 {-moz-transform: rotate(-7.43rad);-webkit-transform: rotate(-7.43rad);-o-transform:
 rotate(-7.43rad);-ms-transform: rotate(-7.43rad); transform: rotate(-7.43rad);
 width: 10px; height: 11px; left: 571.2px; top: 293.28px;}

 .warped .wA80 {-moz-transform: rotate(-7.43rad);-webkit-transform: rotate(-7.43rad);-o-transform:
 rotate(-7.43rad);-ms-transform: rotate(-7.43rad); transform: rotate(-7.43rad);
 width: 10px; height: 11px; left: 577.31px; top: 279.99px;}

 .warped .wA81 {-moz-transform: rotate(-7.42rad);-webkit-transform: rotate(-7.42rad);-o-transform:
 rotate(-7.42rad);-ms-transform: rotate(-7.42rad); transform: rotate(-7.42rad);
 width: 10px; height: 11px; left: 583.4px; top: 266.88px;}

 .warped .wA82 {-moz-transform: rotate(-7.41rad);-webkit-transform: rotate(-7.41rad);-o-transform:
 rotate(-7.41rad);-ms-transform: rotate(-7.41rad); transform: rotate(-7.41rad);
 width: 10px; height: 11px; left: 590.12px; top: 252.7px;}

 .warped .wA83 {-moz-transform: rotate(-7.4rad);-webkit-transform: rotate(-7.4rad);-o-transform:
 rotate(-7.4rad);-ms-transform: rotate(-7.4rad); transform: rotate(-7.4rad);
 width: 10px; height: 11px; left: 596.29px; top: 240.08px;}

 .warped .wA84 {-moz-transform: rotate(-7.38rad);-webkit-transform: rotate(-7.38rad);-o-transform:
 rotate(-7.38rad);-ms-transform: rotate(-7.38rad); transform: rotate(-7.38rad);
 width: 10px; height: 11px; left: 603.17px; top: 226.56px;}

 .warped .wA85 {-moz-transform: rotate(-7.35rad);-webkit-transform: rotate(-7.35rad);-o-transform:
 rotate(-7.35rad);-ms-transform: rotate(-7.35rad); transform: rotate(-7.35rad);
 width: 10px; height: 11px; left: 610.21px; top: 213.48px;}

 .warped .wA86 {-moz-transform: rotate(-7.32rad);-webkit-transform: rotate(-7.32rad);-o-transform:
 rotate(-7.32rad);-ms-transform: rotate(-7.32rad); transform: rotate(-7.32rad);
 width: 10px; height: 11px; left: 618.1px; top: 199.78px;}

 .warped .wA87 {-moz-transform: rotate(-7.28rad);-webkit-transform: rotate(-7.28rad);-o-transform:
 rotate(-7.28rad);-ms-transform: rotate(-7.28rad); transform: rotate(-7.28rad);
 width: 10px; height: 11px; left: 625.59px; top: 187.81px;}

 .warped .wA88 {-moz-transform: rotate(-7.23rad);-webkit-transform: rotate(-7.23rad);-o-transform:
 rotate(-7.23rad);-ms-transform: rotate(-7.23rad); transform: rotate(-7.23rad);
 width: 10px; height: 11px; left: 634.09px; top: 175.45px;}

 .warped .wA89 {-moz-transform: rotate(-7.17rad);-webkit-transform: rotate(-7.17rad);-o-transform:
 rotate(-7.17rad);-ms-transform: rotate(-7.17rad); transform: rotate(-7.17rad);
 width: 10px; height: 11px; left: 643.74px; top: 162.99px;}

 .warped .wA90 {-moz-transform: rotate(-7.1rad);-webkit-transform: rotate(-7.1rad);-o-transform:
 rotate(-7.1rad);-ms-transform: rotate(-7.1rad); transform: rotate(-7.1rad);
 width: 10px; height: 11px; left: 653.12px; top: 152.43px;}

 .warped .wA91 {-moz-transform: rotate(-7rad);-webkit-transform: rotate(-7rad);-o-transform:
 rotate(-7rad);-ms-transform: rotate(-7rad); transform: rotate(-7rad); width:
 10px; height: 11px; left: 664.72px; top: 141.35px;}

 .warped .wA92 {-moz-transform: rotate(-6.9rad);-webkit-transform: rotate(-6.9rad);-o-transform:
 rotate(-6.9rad);-ms-transform: rotate(-6.9rad); transform: rotate(-6.9rad);
 width: 10px; height: 11px; left: 676.19px; top: 132.36px;}

 .warped .wA93 {-moz-transform: rotate(-6.79rad);-webkit-transform: rotate(-6.79rad);-o-transform:
 rotate(-6.79rad);-ms-transform: rotate(-6.79rad); transform: rotate(-6.79rad);
 width: 10px; height: 11px; left: 688.41px; top: 124.73px;}

 .warped .wA94 {-moz-transform: rotate(-6.66rad);-webkit-transform: rotate(-6.66rad);-o-transform:
 rotate(-6.66rad);-ms-transform: rotate(-6.66rad); transform: rotate(-6.66rad);
 width: 10px; height: 11px; left: 702.5px; top: 118.14px;}

 .warped .wA95 {-moz-transform: rotate(-6.54rad);-webkit-transform: rotate(-6.54rad);-o-transform:
 rotate(-6.54rad);-ms-transform: rotate(-6.54rad); transform: rotate(-6.54rad);
 width: 10px; height: 11px; left: 716.51px; top: 113.64px;}

 .warped .wA96 {-moz-transform: rotate(-6.42rad);-webkit-transform: rotate(-6.42rad);-o-transform:
 rotate(-6.42rad);-ms-transform: rotate(-6.42rad); transform: rotate(-6.42rad);
 width: 10px; height: 11px; left: 731.5px; top: 110.8px;}

 .warped .wA97 {-moz-transform: rotate(-6.26rad);-webkit-transform: rotate(-6.26rad);-o-transform:
 rotate(-6.26rad);-ms-transform: rotate(-6.26rad); transform: rotate(-6.26rad);
 width: 10px; height: 11px; left: 748.42px; top: 110.02px;}

 .warped .wA98 {-moz-transform: rotate(-6.14rad);-webkit-transform: rotate(-6.14rad);-o-transform:
 rotate(-6.14rad);-ms-transform: rotate(-6.14rad); transform: rotate(-6.14rad);
 width: 10px; height: 11px; left: 763.26px; top: 111.31px;}

 .warped .wA99 {-moz-transform: rotate(-6.02rad);-webkit-transform: rotate(-6.02rad);-o-transform:
 rotate(-6.02rad);-ms-transform: rotate(-6.02rad); transform: rotate(-6.02rad);
 width: 10px; height: 11px; left: 778.28px; top: 114.46px;}

 .warped .wA100 {-moz-transform: rotate(-5.88rad);-webkit-transform: rotate(-5.88rad);-o-transform:
 rotate(-5.88rad);-ms-transform: rotate(-5.88rad); transform: rotate(-5.88rad);
 width: 10px; height: 11px; left: 792.41px; top: 119.45px;}

 .warped .wA101 {-moz-transform: rotate(-5.73rad);-webkit-transform: rotate(-5.73rad);-o-transform:
 rotate(-5.73rad);-ms-transform: rotate(-5.73rad); transform: rotate(-5.73rad);
 width: 10px; height: 11px; left: 805.4px; top: 126.25px;}

 .warped .wA102 {-moz-transform: rotate(-5.56rad);-webkit-transform: rotate(-5.56rad);-o-transform:
 rotate(-5.56rad);-ms-transform: rotate(-5.56rad); transform: rotate(-5.56rad);
 width: 10px; height: 11px; left: 817.54px; top: 135.3px;}

 .warped .wA103 {-moz-transform: rotate(-5.38rad);-webkit-transform: rotate(-5.38rad);-o-transform:
 rotate(-5.38rad);-ms-transform: rotate(-5.38rad); transform: rotate(-5.38rad);
 width: 10px; height: 11px; left: 827.82px; top: 146.22px;}

 .warped .wA104 {-moz-transform: rotate(-5.19rad);-webkit-transform: rotate(-5.19rad);-o-transform:
 rotate(-5.19rad);-ms-transform: rotate(-5.19rad); transform: rotate(-5.19rad);
 width: 10px; height: 11px; left: 835.93px; top: 158.91px;}

 .warped .wA105 {-moz-transform: rotate(-5rad);-webkit-transform: rotate(-5rad);-o-transform:
 rotate(-5rad);-ms-transform: rotate(-5rad); transform: rotate(-5rad); width:
 10px; height: 11px; left: 841.31px; top: 172.59px;}

 .warped .wA106 {-moz-transform: rotate(-4.8rad);-webkit-transform: rotate(-4.8rad);-o-transform:
 rotate(-4.8rad);-ms-transform: rotate(-4.8rad); transform: rotate(-4.8rad);
 width: 10px; height: 11px; left: 844.01px; top: 187.32px;}

 .warped .wA107 {-moz-transform: rotate(-10.9rad);-webkit-transform: rotate(-10.9rad);-o-transform:
 rotate(-10.9rad);-ms-transform: rotate(-10.9rad); transform: rotate(-10.9rad);
 width: 10px; height: 11px; left: 843.89px; top: 202.53px;}

 .warped .wA108 {-moz-transform: rotate(-10.74rad);-webkit-transform: rotate(-10.74rad);-o-transform:
 rotate(-10.74rad);-ms-transform: rotate(-10.74rad); transform: rotate(-10.74rad);
 width: 10px; height: 11px; left: 841.17px; top: 217.23px;}

 .warped .wA109 {-moz-transform: rotate(-10.59rad);-webkit-transform: rotate(-10.59rad);-o-transform:
 rotate(-10.59rad);-ms-transform: rotate(-10.59rad); transform: rotate(-10.59rad);
 width: 10px; height: 11px; left: 835.72px; top: 232.52px;}

 .warped .wA110 {-moz-transform: rotate(-10.5rad);-webkit-transform: rotate(-10.5rad);-o-transform:
 rotate(-10.5rad);-ms-transform: rotate(-10.5rad); transform: rotate(-10.5rad);
 width: 10px; height: 11px; left: 829.43px; top: 245.43px;}

 .warped .wA111 {-moz-transform: rotate(-10.38rad);-webkit-transform: rotate(-10.38rad);-o-transform:
 rotate(-10.38rad);-ms-transform: rotate(-10.38rad); transform: rotate(-10.38rad);
 width: 10px; height: 11px; left: 821.39px; top: 258.21px;}

 .warped .wA112 {-moz-transform: rotate(-10.22rad);-webkit-transform: rotate(-10.22rad);-o-transform:
 rotate(-10.22rad);-ms-transform: rotate(-10.22rad); transform: rotate(-10.22rad);
 width: 10px; height: 11px; left: 811.48px; top: 269.96px;}

 .warped .wA113 {-moz-transform: rotate(-10.03rad);-webkit-transform: rotate(-10.03rad);-o-transform:
 rotate(-10.03rad);-ms-transform: rotate(-10.03rad); transform: rotate(-10.03rad);
 width: 10px; height: 11px; left: 800.1px; top: 279.48px;}

 .warped .wA114 {-moz-transform: rotate(-9.8rad);-webkit-transform: rotate(-9.8rad);-o-transform:
 rotate(-9.8rad);-ms-transform: rotate(-9.8rad); transform: rotate(-9.8rad);
 width: 10px; height: 11px; left: 786.96px; top: 286.43px;}

 .warped .wA115 {-moz-transform: rotate(-9.54rad);-webkit-transform: rotate(-9.54rad);-o-transform:
 rotate(-9.54rad);-ms-transform: rotate(-9.54rad); transform: rotate(-9.54rad);
 width: 10px; height: 11px; left: 772.38px; top: 290.02px;}

 .warped .wA116 {-moz-transform: rotate(-9.27rad);-webkit-transform: rotate(-9.27rad);-o-transform:
 rotate(-9.27rad);-ms-transform: rotate(-9.27rad); transform: rotate(-9.27rad);
 width: 10px; height: 11px; left: 757.35px; top: 289.63px;}

 .warped .wA117 {-moz-transform: rotate(-9.01rad);-webkit-transform: rotate(-9.01rad);-o-transform:
 rotate(-9.01rad);-ms-transform: rotate(-9.01rad); transform: rotate(-9.01rad);
 width: 10px; height: 11px; left: 743.42px; top: 285.44px;}

 .warped .wA118 {-moz-transform: rotate(-8.74rad);-webkit-transform: rotate(-8.74rad);-o-transform:
 rotate(-8.74rad);-ms-transform: rotate(-8.74rad); transform: rotate(-8.74rad);
 width: 10px; height: 11px; left: 730.57px; top: 277.46px;}

 .warped .wA119 {-moz-transform: rotate(-8.47rad);-webkit-transform: rotate(-8.47rad);-o-transform:
 rotate(-8.47rad);-ms-transform: rotate(-8.47rad); transform: rotate(-8.47rad);
 width: 10px; height: 11px; left: 720.4px; top: 266.47px;}

 .warped .wA120 {-moz-transform: rotate(-8.18rad);-webkit-transform: rotate(-8.18rad);-o-transform:
 rotate(-8.18rad);-ms-transform: rotate(-8.18rad); transform: rotate(-8.18rad);
 width: 10px; height: 11px; left: 713.67px; top: 253.13px;}

 .warped .wA121 {-moz-transform: rotate(-7.88rad);-webkit-transform: rotate(-7.88rad);-o-transform:
 rotate(-7.88rad);-ms-transform: rotate(-7.88rad); transform: rotate(-7.88rad);
 width: 10px; height: 11px; left: 711.13px; top: 238.5px;}

 .warped .wA122 {-moz-transform: rotate(-7.59rad);-webkit-transform: rotate(-7.59rad);-o-transform:
 rotate(-7.59rad);-ms-transform: rotate(-7.59rad); transform: rotate(-7.59rad);
 width: 10px; height: 11px; left: 712.96px; top: 223.76px;}

 .warped .wA123 {-moz-transform: rotate(-7.34rad);-webkit-transform: rotate(-7.34rad);-o-transform:
 rotate(-7.34rad);-ms-transform: rotate(-7.34rad); transform: rotate(-7.34rad);
 width: 10px; height: 11px; left: 718.96px; top: 209.51px;}

 .warped .wA124 {-moz-transform: rotate(-7.14rad);-webkit-transform: rotate(-7.14rad);-o-transform:
 rotate(-7.14rad);-ms-transform: rotate(-7.14rad); transform: rotate(-7.14rad);
 width: 10px; height: 11px; left: 727.54px; top: 197.58px;}

 .warped .wA125 {-moz-transform: rotate(-6.99rad);-webkit-transform: rotate(-6.99rad);-o-transform:
 rotate(-6.99rad);-ms-transform: rotate(-6.99rad); transform: rotate(-6.99rad);
 width: 10px; height: 11px; left: 738.6px; top: 186.81px;}