.warped {position: relative; display: block; width:852px; height:561px;}

.warped>span[class^=w]:nth-of-type(n+0){display:block; position:absolute;
-moz-transform-origin:50% 100%; -webkit-transform-origin:50% 100%; -o-transform-origin:50%
100%; -ms-transform-origin:50% 100%; transform-origin:50% 100%; }

.warped .wD0 {-moz-transform: rotate(-4.87rad);-webkit-transform: rotate(-4.87rad);-o-transform:
rotate(-4.87rad);-ms-transform: rotate(-4.87rad); transform: rotate(-4.87rad);
width: 10px; height: 11px; left: 382.01px; top: 272.08px;}

.warped .wD1 {-moz-transform: rotate(-6.45rad);-webkit-transform: rotate(-6.45rad);-o-transform:
rotate(-6.45rad);-ms-transform: rotate(-6.45rad); transform: rotate(-6.45rad);
width: 10px; height: 11px; left: 390.99px; top: 275.98px;}

.warped .wD2 {-moz-transform: rotate(-6.83rad);-webkit-transform: rotate(-6.83rad);-o-transform:
rotate(-6.83rad);-ms-transform: rotate(-6.83rad); transform: rotate(-6.83rad);
width: 10px; height: 11px; left: 401.21px; top: 272.12px;}

.warped .wD3 {-moz-transform: rotate(-7.7rad);-webkit-transform: rotate(-7.7rad);-o-transform:
rotate(-7.7rad);-ms-transform: rotate(-7.7rad); transform: rotate(-7.7rad);
width: 10px; height: 11px; left: 408.3px; top: 264.17px;}

.warped .wD4 {-moz-transform: rotate(-9.09rad);-webkit-transform: rotate(-9.09rad);-o-transform:
rotate(-9.09rad);-ms-transform: rotate(-9.09rad); transform: rotate(-9.09rad);
width: 10px; height: 11px; left: 401.23px; top: 256.84px;}

.warped .wD5 {-moz-transform: rotate(-9.31rad);-webkit-transform: rotate(-9.31rad);-o-transform:
rotate(-9.31rad);-ms-transform: rotate(-9.31rad); transform: rotate(-9.31rad);
width: 10px; height: 11px; left: 390.35px; top: 254.56px;}

.warped .wD6 {-moz-transform: rotate(-9.56rad);-webkit-transform: rotate(-9.56rad);-o-transform:
rotate(-9.56rad);-ms-transform: rotate(-9.56rad); transform: rotate(-9.56rad);
width: 10px; height: 11px; left: 378.88px; top: 254.18px;}

.warped .wD7 {-moz-transform: rotate(-9.93rad);-webkit-transform: rotate(-9.93rad);-o-transform:
rotate(-9.93rad);-ms-transform: rotate(-9.93rad); transform: rotate(-9.93rad);
width: 10px; height: 11px; left: 368.49px; top: 257.67px;}

.warped .wD8 {-moz-transform: rotate(-10.24rad);-webkit-transform: rotate(-10.24rad);-o-transform:
rotate(-10.24rad);-ms-transform: rotate(-10.24rad); transform: rotate(-10.24rad);
width: 10px; height: 11px; left: 359.81px; top: 264.39px;}

.warped .wD9 {-moz-transform: rotate(-10.6rad);-webkit-transform: rotate(-10.6rad);-o-transform:
rotate(-10.6rad);-ms-transform: rotate(-10.6rad); transform: rotate(-10.6rad);
width: 10px; height: 11px; left: 353.74px; top: 273.46px;}

.warped .wD10 {-moz-transform: rotate(-4.93rad);-webkit-transform: rotate(-4.93rad);-o-transform:
rotate(-4.93rad);-ms-transform: rotate(-4.93rad); transform: rotate(-4.93rad);
width: 10px; height: 11px; left: 352.32px; top: 284.16px;}

.warped .wD11 {-moz-transform: rotate(-5.77rad);-webkit-transform: rotate(-5.77rad);-o-transform:
rotate(-5.77rad);-ms-transform: rotate(-5.77rad); transform: rotate(-5.77rad);
width: 10px; height: 11px; left: 358.77px; top: 292.58px;}

.warped .wD12 {-moz-transform: rotate(-6.19rad);-webkit-transform: rotate(-6.19rad);-o-transform:
rotate(-6.19rad);-ms-transform: rotate(-6.19rad); transform: rotate(-6.19rad);
width: 10px; height: 11px; left: 369.39px; top: 295.56px;}

.warped .wD13 {-moz-transform: rotate(-6.38rad);-webkit-transform: rotate(-6.38rad);-o-transform:
rotate(-6.38rad);-ms-transform: rotate(-6.38rad); transform: rotate(-6.38rad);
width: 10px; height: 11px; left: 380.3px; top: 295.46px;}

.warped .wD14 {-moz-transform: rotate(-6.49rad);-webkit-transform: rotate(-6.49rad);-o-transform:
rotate(-6.49rad);-ms-transform: rotate(-6.49rad); transform: rotate(-6.49rad);
width: 10px; height: 11px; left: 391.49px; top: 293.75px;}

.warped .wD15 {-moz-transform: rotate(-6.61rad);-webkit-transform: rotate(-6.61rad);-o-transform:
rotate(-6.61rad);-ms-transform: rotate(-6.61rad); transform: rotate(-6.61rad);
width: 10px; height: 11px; left: 402.83px; top: 290.86px;}

.warped .wD16 {-moz-transform: rotate(-6.88rad);-webkit-transform: rotate(-6.88rad);-o-transform:
rotate(-6.88rad);-ms-transform: rotate(-6.88rad); transform: rotate(-6.88rad);
width: 10px; height: 11px; left: 412.7px; top: 286.14px;}

.warped .wD17 {-moz-transform: rotate(-7.34rad);-webkit-transform: rotate(-7.34rad);-o-transform:
rotate(-7.34rad);-ms-transform: rotate(-7.34rad); transform: rotate(-7.34rad);
width: 10px; height: 11px; left: 420.2px; top: 278.39px;}

.warped .wD18 {-moz-transform: rotate(-7.95rad);-webkit-transform: rotate(-7.95rad);-o-transform:
rotate(-7.95rad);-ms-transform: rotate(-7.95rad); transform: rotate(-7.95rad);
width: 10px; height: 11px; left: 422.54px; top: 267.83px;}

.warped .wD19 {-moz-transform: rotate(-8.46rad);-webkit-transform: rotate(-8.46rad);-o-transform:
rotate(-8.46rad);-ms-transform: rotate(-8.46rad); transform: rotate(-8.46rad);
width: 10px; height: 11px; left: 418.7px; top: 257.56px;}

.warped .wD20 {-moz-transform: rotate(-8.82rad);-webkit-transform: rotate(-8.82rad);-o-transform:
rotate(-8.82rad);-ms-transform: rotate(-8.82rad); transform: rotate(-8.82rad);
width: 10px; height: 11px; left: 410.98px; top: 249.88px;}

.warped .wD21 {-moz-transform: rotate(-9.11rad);-webkit-transform: rotate(-9.11rad);-o-transform:
rotate(-9.11rad);-ms-transform: rotate(-9.11rad); transform: rotate(-9.11rad);
width: 10px; height: 11px; left: 401.12px; top: 245.01px;}

.warped .wD22 {-moz-transform: rotate(-9.36rad);-webkit-transform: rotate(-9.36rad);-o-transform:
rotate(-9.36rad);-ms-transform: rotate(-9.36rad); transform: rotate(-9.36rad);
width: 10px; height: 11px; left: 390.42px; top: 242.95px;}

.warped .wD23 {-moz-transform: rotate(-9.58rad);-webkit-transform: rotate(-9.58rad);-o-transform:
rotate(-9.58rad);-ms-transform: rotate(-9.58rad); transform: rotate(-9.58rad);
width: 10px; height: 11px; left: 379.31px; top: 243.42px;}

.warped .wD24 {-moz-transform: rotate(-9.76rad);-webkit-transform: rotate(-9.76rad);-o-transform:
rotate(-9.76rad);-ms-transform: rotate(-9.76rad); transform: rotate(-9.76rad);
width: 10px; height: 11px; left: 368.62px; top: 246.04px;}

.warped .wD25 {-moz-transform: rotate(-9.87rad);-webkit-transform: rotate(-9.87rad);-o-transform:
rotate(-9.87rad);-ms-transform: rotate(-9.87rad); transform: rotate(-9.87rad);
width: 10px; height: 11px; left: 357.82px; top: 250.51px;}

.warped .wD26 {-moz-transform: rotate(-9.98rad);-webkit-transform: rotate(-9.98rad);-o-transform:
rotate(-9.98rad);-ms-transform: rotate(-9.98rad); transform: rotate(-9.98rad);
width: 10px; height: 11px; left: 348.1px; top: 255.79px;}

.warped .wD27 {-moz-transform: rotate(-10.12rad);-webkit-transform: rotate(-10.12rad);-o-transform:
rotate(-10.12rad);-ms-transform: rotate(-10.12rad); transform: rotate(-10.12rad);
width: 10px; height: 11px; left: 339.29px; top: 262.1px;}

.warped .wD28 {-moz-transform: rotate(-10.31rad);-webkit-transform: rotate(-10.31rad);-o-transform:
rotate(-10.31rad);-ms-transform: rotate(-10.31rad); transform: rotate(-10.31rad);
width: 10px; height: 11px; left: 331.55px; top: 269.78px;}

.warped .wD29 {-moz-transform: rotate(-10.58rad);-webkit-transform: rotate(-10.58rad);-o-transform:
rotate(-10.58rad);-ms-transform: rotate(-10.58rad); transform: rotate(-10.58rad);
width: 10px; height: 11px; left: 325.68px; top: 279.07px;}

.warped .wD30 {-moz-transform: rotate(-4.72rad);-webkit-transform: rotate(-4.72rad);-o-transform:
rotate(-4.72rad);-ms-transform: rotate(-4.72rad); transform: rotate(-4.72rad);
width: 10px; height: 11px; left: 323.29px; top: 289.7px;}

.warped .wD31 {-moz-transform: rotate(-5.27rad);-webkit-transform: rotate(-5.27rad);-o-transform:
rotate(-5.27rad);-ms-transform: rotate(-5.27rad); transform: rotate(-5.27rad);
width: 10px; height: 11px; left: 326.18px; top: 300.07px;}

.warped .wD32 {-moz-transform: rotate(-5.74rad);-webkit-transform: rotate(-5.74rad);-o-transform:
rotate(-5.74rad);-ms-transform: rotate(-5.74rad); transform: rotate(-5.74rad);
width: 10px; height: 11px; left: 334.14px; top: 307.81px;}

.warped .wD33 {-moz-transform: rotate(-6.03rad);-webkit-transform: rotate(-6.03rad);-o-transform:
rotate(-6.03rad);-ms-transform: rotate(-6.03rad); transform: rotate(-6.03rad);
width: 10px; height: 11px; left: 344.1px; top: 311.94px;}

.warped .wD34 {-moz-transform: rotate(-6.23rad);-webkit-transform: rotate(-6.23rad);-o-transform:
rotate(-6.23rad);-ms-transform: rotate(-6.23rad); transform: rotate(-6.23rad);
width: 10px; height: 11px; left: 355.23px; top: 313.67px;}

.warped .wD35 {-moz-transform: rotate(-6.35rad);-webkit-transform: rotate(-6.35rad);-o-transform:
rotate(-6.35rad);-ms-transform: rotate(-6.35rad); transform: rotate(-6.35rad);
width: 10px; height: 11px; left: 366.02px; top: 313.61px;}

.warped .wD36 {-moz-transform: rotate(-6.45rad);-webkit-transform: rotate(-6.45rad);-o-transform:
rotate(-6.45rad);-ms-transform: rotate(-6.45rad); transform: rotate(-6.45rad);
width: 10px; height: 11px; left: 377.08px; top: 312.29px;}

.warped .wD37 {-moz-transform: rotate(-6.55rad);-webkit-transform: rotate(-6.55rad);-o-transform:
rotate(-6.55rad);-ms-transform: rotate(-6.55rad); transform: rotate(-6.55rad);
width: 10px; height: 11px; left: 388.63px; top: 309.83px;}

.warped .wD38 {-moz-transform: rotate(-6.8rad);-webkit-transform: rotate(-6.8rad);-o-transform:
rotate(-6.8rad);-ms-transform: rotate(-6.8rad); transform: rotate(-6.8rad);
width: 10px; height: 11px; left: 398.83px; top: 305.64px;}

.warped .wD39 {-moz-transform: rotate(-7rad);-webkit-transform: rotate(-7rad);-o-transform:
rotate(-7rad);-ms-transform: rotate(-7rad); transform: rotate(-7rad); width:
10px; height: 11px; left: 407.63px; top: 299.39px;}

.warped .wD40 {-moz-transform: rotate(-7.16rad);-webkit-transform: rotate(-7.16rad);-o-transform:
rotate(-7.16rad);-ms-transform: rotate(-7.16rad); transform: rotate(-7.16rad);
width: 10px; height: 11px; left: 415.34px; top: 291.54px;}

.warped .wD41 {-moz-transform: rotate(-7.28rad);-webkit-transform: rotate(-7.28rad);-o-transform:
rotate(-7.28rad);-ms-transform: rotate(-7.28rad); transform: rotate(-7.28rad);
width: 10px; height: 11px; left: 421.92px; top: 282.68px;}

.warped .wD42 {-moz-transform: rotate(-7.37rad);-webkit-transform: rotate(-7.37rad);-o-transform:
rotate(-7.37rad);-ms-transform: rotate(-7.37rad); transform: rotate(-7.37rad);
width: 10px; height: 11px; left: 427.5px; top: 273.25px;}

.warped .wD43 {-moz-transform: rotate(-7.43rad);-webkit-transform: rotate(-7.43rad);-o-transform:
rotate(-7.43rad);-ms-transform: rotate(-7.43rad); transform: rotate(-7.43rad);
width: 10px; height: 11px; left: 432.3px; top: 263.34px;}

.warped .wD44 {-moz-transform: rotate(-10.79rad);-webkit-transform: rotate(-10.79rad);-o-transform:
rotate(-10.79rad);-ms-transform: rotate(-10.79rad); transform: rotate(-10.79rad);
width: 10px; height: 11px; left: 431.8px; top: 269.68px;}

.warped .wD45 {-moz-transform: rotate(-10.79rad);-webkit-transform: rotate(-10.79rad);-o-transform:
rotate(-10.79rad);-ms-transform: rotate(-10.79rad); transform: rotate(-10.79rad);
width: 10px; height: 11px; left: 429.48px; top: 280.66px;}

.warped .wD46 {-moz-transform: rotate(-10.78rad);-webkit-transform: rotate(-10.78rad);-o-transform:
rotate(-10.78rad);-ms-transform: rotate(-10.78rad); transform: rotate(-10.78rad);
width: 10px; height: 11px; left: 427.12px; top: 291.44px;}

.warped .wD47 {-moz-transform: rotate(-10.76rad);-webkit-transform: rotate(-10.76rad);-o-transform:
rotate(-10.76rad);-ms-transform: rotate(-10.76rad); transform: rotate(-10.76rad);
width: 10px; height: 11px; left: 424.68px; top: 301.94px;}

.warped .wD48 {-moz-transform: rotate(-10.74rad);-webkit-transform: rotate(-10.74rad);-o-transform:
rotate(-10.74rad);-ms-transform: rotate(-10.74rad); transform: rotate(-10.74rad);
width: 10px; height: 11px; left: 421.94px; top: 312.71px;}

.warped .wD49 {-moz-transform: rotate(-10.7rad);-webkit-transform: rotate(-10.7rad);-o-transform:
rotate(-10.7rad);-ms-transform: rotate(-10.7rad); transform: rotate(-10.7rad);
width: 10px; height: 11px; left: 418.9px; top: 323.19px;}

.warped .wD50 {-moz-transform: rotate(-10.63rad);-webkit-transform: rotate(-10.63rad);-o-transform:
rotate(-10.63rad);-ms-transform: rotate(-10.63rad); transform: rotate(-10.63rad);
width: 10px; height: 11px; left: 415.34px; top: 333.44px;}

.warped .wD51 {-moz-transform: rotate(-10.53rad);-webkit-transform: rotate(-10.53rad);-o-transform:
rotate(-10.53rad);-ms-transform: rotate(-10.53rad); transform: rotate(-10.53rad);
width: 10px; height: 11px; left: 410.87px; top: 343.56px;}

.warped .wD52 {-moz-transform: rotate(-10.36rad);-webkit-transform: rotate(-10.36rad);-o-transform:
rotate(-10.36rad);-ms-transform: rotate(-10.36rad); transform: rotate(-10.36rad);
width: 10px; height: 11px; left: 405.15px; top: 352.93px;}

.warped .wD53 {-moz-transform: rotate(-10.1rad);-webkit-transform: rotate(-10.1rad);-o-transform:
rotate(-10.1rad);-ms-transform: rotate(-10.1rad); transform: rotate(-10.1rad);
width: 10px; height: 11px; left: 397.54px; top: 360.93px;}

.warped .wD54 {-moz-transform: rotate(-9.77rad);-webkit-transform: rotate(-9.77rad);-o-transform:
rotate(-9.77rad);-ms-transform: rotate(-9.77rad); transform: rotate(-9.77rad);
width: 10px; height: 11px; left: 388.04px; top: 366.24px;}

.warped .wD55 {-moz-transform: rotate(-9.48rad);-webkit-transform: rotate(-9.48rad);-o-transform:
rotate(-9.48rad);-ms-transform: rotate(-9.48rad); transform: rotate(-9.48rad);
width: 10px; height: 11px; left: 377.23px; top: 368.34px;}

.warped .wD56 {-moz-transform: rotate(-9.27rad);-webkit-transform: rotate(-9.27rad);-o-transform:
rotate(-9.27rad);-ms-transform: rotate(-9.27rad); transform: rotate(-9.27rad);
width: 10px; height: 11px; left: 365.86px; top: 367.69px;}

.warped .wD57 {-moz-transform: rotate(-8.93rad);-webkit-transform: rotate(-8.93rad);-o-transform:
rotate(-8.93rad);-ms-transform: rotate(-8.93rad); transform: rotate(-8.93rad);
width: 10px; height: 11px; left: 355.38px; top: 364.25px;}

.warped .wD58 {-moz-transform: rotate(-8.48rad);-webkit-transform: rotate(-8.48rad);-o-transform:
rotate(-8.48rad);-ms-transform: rotate(-8.48rad); transform: rotate(-8.48rad);
width: 10px; height: 11px; left: 347.23px; top: 357px;}

.warped .wD59 {-moz-transform: rotate(-8.17rad);-webkit-transform: rotate(-8.17rad);-o-transform:
rotate(-8.17rad);-ms-transform: rotate(-8.17rad); transform: rotate(-8.17rad);
width: 10px; height: 11px; left: 342.51px; top: 347.24px;}

.warped .wD60 {-moz-transform: rotate(-8.05rad);-webkit-transform: rotate(-8.05rad);-o-transform:
rotate(-8.05rad);-ms-transform: rotate(-8.05rad); transform: rotate(-8.05rad);
width: 10px; height: 11px; left: 339.88px; top: 336.46px;}

.warped .wD61 {-moz-transform: rotate(-8.03rad);-webkit-transform: rotate(-8.03rad);-o-transform:
rotate(-8.03rad);-ms-transform: rotate(-8.03rad); transform: rotate(-8.03rad);
width: 10px; height: 11px; left: 338.01px; top: 325.56px;}

.warped .wD62 {-moz-transform: rotate(-8.08rad);-webkit-transform: rotate(-8.08rad);-o-transform:
rotate(-8.08rad);-ms-transform: rotate(-8.08rad); transform: rotate(-8.08rad);
width: 10px; height: 11px; left: 335.95px; top: 314.7px;}

.warped .wD63 {-moz-transform: rotate(-8.19rad);-webkit-transform: rotate(-8.19rad);-o-transform:
rotate(-8.19rad);-ms-transform: rotate(-8.19rad); transform: rotate(-8.19rad);
width: 10px; height: 11px; left: 333.03px; top: 304.29px;}

.warped .wD64 {-moz-transform: rotate(-8.37rad);-webkit-transform: rotate(-8.37rad);-o-transform:
rotate(-8.37rad);-ms-transform: rotate(-8.37rad); transform: rotate(-8.37rad);
width: 10px; height: 11px; left: 328.55px; top: 294.23px;}

.warped .wD65 {-moz-transform: rotate(-8.58rad);-webkit-transform: rotate(-8.58rad);-o-transform:
rotate(-8.58rad);-ms-transform: rotate(-8.58rad); transform: rotate(-8.58rad);
width: 10px; height: 11px; left: 322.23px; top: 285.27px;}

.warped .wD66 {-moz-transform: rotate(-8.79rad);-webkit-transform: rotate(-8.79rad);-o-transform:
rotate(-8.79rad);-ms-transform: rotate(-8.79rad); transform: rotate(-8.79rad);
width: 10px; height: 11px; left: 314.08px; top: 277.78px;}

.warped .wD67 {-moz-transform: rotate(-7.73rad);-webkit-transform: rotate(-7.73rad);-o-transform:
rotate(-7.73rad);-ms-transform: rotate(-7.73rad); transform: rotate(-7.73rad);
width: 10px; height: 11px; left: 310.43px; top: 268.2px;}

.warped .wD68 {-moz-transform: rotate(-7.47rad);-webkit-transform: rotate(-7.47rad);-o-transform:
rotate(-7.47rad);-ms-transform: rotate(-7.47rad); transform: rotate(-7.47rad);
width: 10px; height: 11px; left: 313.15px; top: 257.82px;}

.warped .wD69 {-moz-transform: rotate(-7.16rad);-webkit-transform: rotate(-7.16rad);-o-transform:
rotate(-7.16rad);-ms-transform: rotate(-7.16rad); transform: rotate(-7.16rad);
width: 10px; height: 11px; left: 318.91px; top: 248.31px;}

.warped .wD70 {-moz-transform: rotate(-6.9rad);-webkit-transform: rotate(-6.9rad);-o-transform:
rotate(-6.9rad);-ms-transform: rotate(-6.9rad); transform: rotate(-6.9rad);
width: 10px; height: 11px; left: 327.06px; top: 240.89px;}

.warped .wD71 {-moz-transform: rotate(-6.72rad);-webkit-transform: rotate(-6.72rad);-o-transform:
rotate(-6.72rad);-ms-transform: rotate(-6.72rad); transform: rotate(-6.72rad);
width: 10px; height: 11px; left: 336.47px; top: 235.54px;}

.warped .wD72 {-moz-transform: rotate(-6.59rad);-webkit-transform: rotate(-6.59rad);-o-transform:
rotate(-6.59rad);-ms-transform: rotate(-6.59rad); transform: rotate(-6.59rad);
width: 10px; height: 11px; left: 346.82px; top: 231.62px;}

.warped .wD73 {-moz-transform: rotate(-6.5rad);-webkit-transform: rotate(-6.5rad);-o-transform:
rotate(-6.5rad);-ms-transform: rotate(-6.5rad); transform: rotate(-6.5rad);
width: 10px; height: 11px; left: 357.64px; top: 228.78px;}

.warped .wD74 {-moz-transform: rotate(-6.45rad);-webkit-transform: rotate(-6.45rad);-o-transform:
rotate(-6.45rad);-ms-transform: rotate(-6.45rad); transform: rotate(-6.45rad);
width: 10px; height: 11px; left: 368.17px; top: 226.8px;}

.warped .wD75 {-moz-transform: rotate(-6.41rad);-webkit-transform: rotate(-6.41rad);-o-transform:
rotate(-6.41rad);-ms-transform: rotate(-6.41rad); transform: rotate(-6.41rad);
width: 10px; height: 11px; left: 379.2px; top: 225.23px;}

.warped .wD76 {-moz-transform: rotate(-6.4rad);-webkit-transform: rotate(-6.4rad);-o-transform:
rotate(-6.4rad);-ms-transform: rotate(-6.4rad); transform: rotate(-6.4rad);
width: 10px; height: 11px; left: 390.09px; top: 223.97px;}

.warped .wD77 {-moz-transform: rotate(-6.4rad);-webkit-transform: rotate(-6.4rad);-o-transform:
rotate(-6.4rad);-ms-transform: rotate(-6.4rad); transform: rotate(-6.4rad);
width: 10px; height: 11px; left: 400.87px; top: 222.78px;}

.warped .wD78 {-moz-transform: rotate(-6.44rad);-webkit-transform: rotate(-6.44rad);-o-transform:
rotate(-6.44rad);-ms-transform: rotate(-6.44rad); transform: rotate(-6.44rad);
width: 10px; height: 11px; left: 411.77px; top: 221.36px;}

.warped .wD79 {-moz-transform: rotate(-6.55rad);-webkit-transform: rotate(-6.55rad);-o-transform:
rotate(-6.55rad);-ms-transform: rotate(-6.55rad); transform: rotate(-6.55rad);
width: 10px; height: 11px; left: 422.55px; top: 219.21px;}

.warped .wD80 {-moz-transform: rotate(-6.92rad);-webkit-transform: rotate(-6.92rad);-o-transform:
rotate(-6.92rad);-ms-transform: rotate(-6.92rad); transform: rotate(-6.92rad);
width: 10px; height: 11px; left: 432.72px; top: 214.86px;}

.warped .wD81 {-moz-transform: rotate(-10.17rad);-webkit-transform: rotate(-10.17rad);-o-transform:
rotate(-10.17rad);-ms-transform: rotate(-10.17rad); transform: rotate(-10.17rad);
width: 10px; height: 11px; left: 435.53px; top: 208.27px;}

.warped .wD82 {-moz-transform: rotate(-10.48rad);-webkit-transform: rotate(-10.48rad);-o-transform:
rotate(-10.48rad);-ms-transform: rotate(-10.48rad); transform: rotate(-10.48rad);
width: 10px; height: 11px; left: 428.59px; top: 216.84px;}

.warped .wD83 {-moz-transform: rotate(-10.8rad);-webkit-transform: rotate(-10.8rad);-o-transform:
rotate(-10.8rad);-ms-transform: rotate(-10.8rad); transform: rotate(-10.8rad);
width: 10px; height: 11px; left: 424.73px; top: 227.14px;}

.warped .wD84 {-moz-transform: rotate(-4.79rad);-webkit-transform: rotate(-4.79rad);-o-transform:
rotate(-4.79rad);-ms-transform: rotate(-4.79rad); transform: rotate(-4.79rad);
width: 10px; height: 11px; left: 424.08px; top: 238.08px;}

.warped .wD85 {-moz-transform: rotate(-4.99rad);-webkit-transform: rotate(-4.99rad);-o-transform:
rotate(-4.99rad);-ms-transform: rotate(-4.99rad); transform: rotate(-4.99rad);
width: 10px; height: 11px; left: 425.99px; top: 248.93px;}

.warped .wD86 {-moz-transform: rotate(-5.14rad);-webkit-transform: rotate(-5.14rad);-o-transform:
rotate(-5.14rad);-ms-transform: rotate(-5.14rad); transform: rotate(-5.14rad);
width: 10px; height: 11px; left: 429.76px; top: 259.27px;}

.warped .wD87 {-moz-transform: rotate(-5.27rad);-webkit-transform: rotate(-5.27rad);-o-transform:
rotate(-5.27rad);-ms-transform: rotate(-5.27rad); transform: rotate(-5.27rad);
width: 10px; height: 11px; left: 434.91px; top: 268.99px;}

.warped .wD88 {-moz-transform: rotate(-5.38rad);-webkit-transform: rotate(-5.38rad);-o-transform:
rotate(-5.38rad);-ms-transform: rotate(-5.38rad); transform: rotate(-5.38rad);
width: 10px; height: 11px; left: 441.11px; top: 277.92px;}

.warped .wD89 {-moz-transform: rotate(-5.52rad);-webkit-transform: rotate(-5.52rad);-o-transform:
rotate(-5.52rad);-ms-transform: rotate(-5.52rad); transform: rotate(-5.52rad);
width: 10px; height: 11px; left: 448.38px; top: 286.04px;}

.warped .wD90 {-moz-transform: rotate(-5.77rad);-webkit-transform: rotate(-5.77rad);-o-transform:
rotate(-5.77rad);-ms-transform: rotate(-5.77rad); transform: rotate(-5.77rad);
width: 10px; height: 11px; left: 457.1px; top: 292.83px;}

.warped .wD91 {-moz-transform: rotate(-7.31rad);-webkit-transform: rotate(-7.31rad);-o-transform:
rotate(-7.31rad);-ms-transform: rotate(-7.31rad); transform: rotate(-7.31rad);
width: 10px; height: 11px; left: 466.93px; top: 292.88px;}

.warped .wD92 {-moz-transform: rotate(-10.85rad);-webkit-transform: rotate(-10.85rad);-o-transform:
rotate(-10.85rad);-ms-transform: rotate(-10.85rad); transform: rotate(-10.85rad);
width: 10px; height: 11px; left: 467.05px; top: 294.64px;}

.warped .wD93 {-moz-transform: rotate(-10.79rad);-webkit-transform: rotate(-10.79rad);-o-transform:
rotate(-10.79rad);-ms-transform: rotate(-10.79rad); transform: rotate(-10.79rad);
width: 10px; height: 11px; left: 465.13px; top: 305.21px;}

.warped .wD94 {-moz-transform: rotate(-10.7rad);-webkit-transform: rotate(-10.7rad);-o-transform:
rotate(-10.7rad);-ms-transform: rotate(-10.7rad); transform: rotate(-10.7rad);
width: 10px; height: 11px; left: 462.38px; top: 315.98px;}

.warped .wD95 {-moz-transform: rotate(-10.56rad);-webkit-transform: rotate(-10.56rad);-o-transform:
rotate(-10.56rad);-ms-transform: rotate(-10.56rad); transform: rotate(-10.56rad);
width: 10px; height: 11px; left: 458.53px; top: 326.09px;}

.warped .wD96 {-moz-transform: rotate(-10.34rad);-webkit-transform: rotate(-10.34rad);-o-transform:
rotate(-10.34rad);-ms-transform: rotate(-10.34rad); transform: rotate(-10.34rad);
width: 10px; height: 11px; left: 452.86px; top: 335.48px;}

.warped .wD97 {-moz-transform: rotate(-10.11rad);-webkit-transform: rotate(-10.11rad);-o-transform:
rotate(-10.11rad);-ms-transform: rotate(-10.11rad); transform: rotate(-10.11rad);
width: 10px; height: 11px; left: 445.19px; top: 343.29px;}

.warped .wD98 {-moz-transform: rotate(-9.99rad);-webkit-transform: rotate(-9.99rad);-o-transform:
rotate(-9.99rad);-ms-transform: rotate(-9.99rad); transform: rotate(-9.99rad);
width: 10px; height: 11px; left: 436.25px; top: 349.55px;}

.warped .wD99 {-moz-transform: rotate(-9.98rad);-webkit-transform: rotate(-9.98rad);-o-transform:
rotate(-9.98rad);-ms-transform: rotate(-9.98rad); transform: rotate(-9.98rad);
width: 10px; height: 11px; left: 426.67px; top: 355.38px;}

.warped .wD100 {-moz-transform: rotate(-10.03rad);-webkit-transform: rotate(-10.03rad);-o-transform:
rotate(-10.03rad);-ms-transform: rotate(-10.03rad); transform: rotate(-10.03rad);
width: 10px; height: 11px; left: 417.41px; top: 361.31px;}

.warped .wD101 {-moz-transform: rotate(-10.09rad);-webkit-transform: rotate(-10.09rad);-o-transform:
rotate(-10.09rad);-ms-transform: rotate(-10.09rad); transform: rotate(-10.09rad);
width: 10px; height: 11px; left: 408.66px; top: 367.67px;}

.warped .wD102 {-moz-transform: rotate(-10.16rad);-webkit-transform: rotate(-10.16rad);-o-transform:
rotate(-10.16rad);-ms-transform: rotate(-10.16rad); transform: rotate(-10.16rad);
width: 10px; height: 11px; left: 400.24px; top: 374.71px;}

.warped .wD103 {-moz-transform: rotate(-10.22rad);-webkit-transform: rotate(-10.22rad);-o-transform:
rotate(-10.22rad);-ms-transform: rotate(-10.22rad); transform: rotate(-10.22rad);
width: 10px; height: 11px; left: 392.08px; top: 382.48px;}

.warped .wD104 {-moz-transform: rotate(-10.27rad);-webkit-transform: rotate(-10.27rad);-o-transform:
rotate(-10.27rad);-ms-transform: rotate(-10.27rad); transform: rotate(-10.27rad);
width: 10px; height: 11px; left: 384.61px; top: 390.45px;}

.warped .wD105 {-moz-transform: rotate(-8.51rad);-webkit-transform: rotate(-8.51rad);-o-transform:
rotate(-8.51rad);-ms-transform: rotate(-8.51rad); transform: rotate(-8.51rad);
width: 10px; height: 11px; left: 376.9px; top: 394.23px;}

.warped .wD106 {-moz-transform: rotate(-8.52rad);-webkit-transform: rotate(-8.52rad);-o-transform:
rotate(-8.52rad);-ms-transform: rotate(-8.52rad); transform: rotate(-8.52rad);
width: 10px; height: 11px; left: 370.25px; top: 385.57px;}

.warped .wD107 {-moz-transform: rotate(-8.53rad);-webkit-transform: rotate(-8.53rad);-o-transform:
rotate(-8.53rad);-ms-transform: rotate(-8.53rad); transform: rotate(-8.53rad);
width: 10px; height: 11px; left: 363.54px; top: 376.98px;}

.warped .wD108 {-moz-transform: rotate(-8.54rad);-webkit-transform: rotate(-8.54rad);-o-transform:
rotate(-8.54rad);-ms-transform: rotate(-8.54rad); transform: rotate(-8.54rad);
width: 10px; height: 11px; left: 356.59px; top: 368.33px;}

.warped .wD109 {-moz-transform: rotate(-8.56rad);-webkit-transform: rotate(-8.56rad);-o-transform:
rotate(-8.56rad);-ms-transform: rotate(-8.56rad); transform: rotate(-8.56rad);
width: 10px; height: 11px; left: 349.56px; top: 359.88px;}

.warped .wD110 {-moz-transform: rotate(-8.59rad);-webkit-transform: rotate(-8.59rad);-o-transform:
rotate(-8.59rad);-ms-transform: rotate(-8.59rad); transform: rotate(-8.59rad);
width: 10px; height: 11px; left: 342.39px; top: 351.62px;}

.warped .wD111 {-moz-transform: rotate(-8.62rad);-webkit-transform: rotate(-8.62rad);-o-transform:
rotate(-8.62rad);-ms-transform: rotate(-8.62rad); transform: rotate(-8.62rad);
width: 10px; height: 11px; left: 334.99px; top: 343.59px;}

.warped .wD112 {-moz-transform: rotate(-8.66rad);-webkit-transform: rotate(-8.66rad);-o-transform:
rotate(-8.66rad);-ms-transform: rotate(-8.66rad); transform: rotate(-8.66rad);
width: 10px; height: 11px; left: 327.29px; top: 335.81px;}

.warped .wD113 {-moz-transform: rotate(-8.69rad);-webkit-transform: rotate(-8.69rad);-o-transform:
rotate(-8.69rad);-ms-transform: rotate(-8.69rad); transform: rotate(-8.69rad);
width: 10px; height: 11px; left: 319.16px; top: 328.21px;}

.warped .wD114 {-moz-transform: rotate(-8.71rad);-webkit-transform: rotate(-8.71rad);-o-transform:
rotate(-8.71rad);-ms-transform: rotate(-8.71rad); transform: rotate(-8.71rad);
width: 10px; height: 11px; left: 310.98px; top: 320.94px;}

.warped .wD115 {-moz-transform: rotate(-8.69rad);-webkit-transform: rotate(-8.69rad);-o-transform:
rotate(-8.69rad);-ms-transform: rotate(-8.69rad); transform: rotate(-8.69rad);
width: 10px; height: 11px; left: 302.81px; top: 313.66px;}

.warped .wD116 {-moz-transform: rotate(-8.67rad);-webkit-transform: rotate(-8.67rad);-o-transform:
rotate(-8.67rad);-ms-transform: rotate(-8.67rad); transform: rotate(-8.67rad);
width: 10px; height: 11px; left: 294.66px; top: 306.11px;}

.warped .wD117 {-moz-transform: rotate(-8.65rad);-webkit-transform: rotate(-8.65rad);-o-transform:
rotate(-8.65rad);-ms-transform: rotate(-8.65rad); transform: rotate(-8.65rad);
width: 10px; height: 11px; left: 286.73px; top: 298.4px;}

.warped .wD118 {-moz-transform: rotate(-8.63rad);-webkit-transform: rotate(-8.63rad);-o-transform:
rotate(-8.63rad);-ms-transform: rotate(-8.63rad); transform: rotate(-8.63rad);
width: 10px; height: 11px; left: 279.01px; top: 290.55px;}

.warped .wD119 {-moz-transform: rotate(-8.61rad);-webkit-transform: rotate(-8.61rad);-o-transform:
rotate(-8.61rad);-ms-transform: rotate(-8.61rad); transform: rotate(-8.61rad);
width: 10px; height: 11px; left: 271.48px; top: 282.59px;}

.warped .wD120 {-moz-transform: rotate(-7.29rad);-webkit-transform: rotate(-7.29rad);-o-transform:
rotate(-7.29rad);-ms-transform: rotate(-7.29rad); transform: rotate(-7.29rad);
width: 10px; height: 11px; left: 275.12px; top: 272.91px;}

.warped .wD121 {-moz-transform: rotate(-7.28rad);-webkit-transform: rotate(-7.28rad);-o-transform:
rotate(-7.28rad);-ms-transform: rotate(-7.28rad); transform: rotate(-7.28rad);
width: 10px; height: 11px; left: 281.32px; top: 263.32px;}

.warped .wD122 {-moz-transform: rotate(-7.26rad);-webkit-transform: rotate(-7.26rad);-o-transform:
rotate(-7.26rad);-ms-transform: rotate(-7.26rad); transform: rotate(-7.26rad);
width: 10px; height: 11px; left: 287.45px; top: 254.11px;}

.warped .wD123 {-moz-transform: rotate(-7.25rad);-webkit-transform: rotate(-7.25rad);-o-transform:
rotate(-7.25rad);-ms-transform: rotate(-7.25rad); transform: rotate(-7.25rad);
width: 10px; height: 11px; left: 293.4px; top: 245.47px;}

.warped .wD124 {-moz-transform: rotate(-7.22rad);-webkit-transform: rotate(-7.22rad);-o-transform:
rotate(-7.22rad);-ms-transform: rotate(-7.22rad); transform: rotate(-7.22rad);
width: 10px; height: 11px; left: 300.06px; top: 236.24px;}

.warped .wD125 {-moz-transform: rotate(-7.18rad);-webkit-transform: rotate(-7.18rad);-o-transform:
rotate(-7.18rad);-ms-transform: rotate(-7.18rad); transform: rotate(-7.18rad);
width: 10px; height: 11px; left: 306.62px; top: 227.77px;}

.warped .wD126 {-moz-transform: rotate(-7.08rad);-webkit-transform: rotate(-7.08rad);-o-transform:
rotate(-7.08rad);-ms-transform: rotate(-7.08rad); transform: rotate(-7.08rad);
width: 10px; height: 11px; left: 313.95px; top: 219.48px;}

.warped .wD127 {-moz-transform: rotate(-6.32rad);-webkit-transform: rotate(-6.32rad);-o-transform:
rotate(-6.32rad);-ms-transform: rotate(-6.32rad); transform: rotate(-6.32rad);
width: 10px; height: 11px; left: 322.78px; top: 213.46px;}

.warped .wD128 {-moz-transform: rotate(-10.81rad);-webkit-transform: rotate(-10.81rad);-o-transform:
rotate(-10.81rad);-ms-transform: rotate(-10.81rad); transform: rotate(-10.81rad);
width: 10px; height: 11px; left: 324.95px; top: 223.03px;}

.warped .wD129 {-moz-transform: rotate(-10.62rad);-webkit-transform: rotate(-10.62rad);-o-transform:
rotate(-10.62rad);-ms-transform: rotate(-10.62rad); transform: rotate(-10.62rad);
width: 10px; height: 11px; left: 321.78px; top: 233.58px;}

.warped .wD130 {-moz-transform: rotate(-8.5rad);-webkit-transform: rotate(-8.5rad);-o-transform:
rotate(-8.5rad);-ms-transform: rotate(-8.5rad); transform: rotate(-8.5rad);
width: 10px; height: 11px; left: 315.73px; top: 241.42px;}