body {
	background: rgb(60, 0, 20) url('/resources/img/canvas.png');
	color: #000;
	width: 100%;
	overflow-x: hidden;
	padding: 0px;
}

div#logo {
	margin-top: 30px;
	font-weight: bold;
	font-size: 9em;
	color: #FFF;
	line-height: 80px;
	text-shadow: 0 1px 2px #222;
}

div#coming-soon {
	margin-top: 50px;
	font-weight: bold;
	font-size: 9em;
	color: #FFF;
	line-height: 80px;
	text-shadow: 0 1px 2px #222;
}

div#tagline {
	font-size: 60px;
	clear: left;
	line-height: 50px;
	text-shadow: 0 -1px 1px #444;
}

div.word {
	transform-origin: left top;
	-webkit-transform-origin: left top;
	display: inline-block;
}

span.type {
	font-family: 'Share Tech Mono';
	display: inline-block;
	float: left;
	margin: 1px;
	padding: 1px;
	text-align: center;
}

div#curves {
	transform: scale(1.2);
	color: green;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -1;
	opacity: 0.5;
}

div#curves span {
	display: none;
	font-weight: bold;
}

div#curve1 {
	position: absolute;
	bottom: 0;
	right: 0;
}

div#curve2 {
	position: absolute;
	bottom: 50px;
	right: 40px;
}

div#curve3 {
	position: absolute;
	bottom: 0px;
	right: 20px;
}

div#rose1 {
	color: rgb(120, 0, 0);
	position: absolute;
	bottom: 110px;
	right: -110px;
	-ms-transform: rotate(-15deg); /* IE 9 */
	-webkit-transform: rotate(-15deg); /* Chrome, Safari, Opera */
	transform: rotate(-15deg);
}

.warped span{
	font-family:'Cutive Mono';
	font-size:20px;
	font-weight:bold;
	font-style:normal;
	line-height:0.65;
	white-space:pre;
	overflow:visible;
	padding:0px;
}

div#side-menu {
	float: left;
	width: 400px;
}

div#side-menu ul {
	list-style-type: none;
	text-align: left;
}

div#side-menu ul li {
	height: 70px;
	line-height: 70px;
}

div#side-menu a {
	text-shadow: 0 1px 3px #222;
	font-family: 'Share Tech Mono';
	text-decoration: none;
	color: #BBB;
	font-size: 50px;
	transition: all .5s ease-in-out;
}

div#side-menu a:hover {
	color: #FFF;
	font-size: 60px;
}

div#content {
	display: inline-block;
	opacity: 0.9;
	width: 700px;
	background: white url('/resources/img/canvas.png');
	border-radius: 20px;
	padding: 20px;
	box-shadow: 1px 0 5px 1px black;
	margin-left: -100px;
	min-height: 400px;
}

div#content div {
	display: none;
}
